* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
}

html,
body {
    height: fit-content;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    min-height: fit-content;
}

main.all-body.body {
    background-image: url(/clientphotos/background.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 1;
    pointer-events: none;
}

body>* {
    position: relative;
    z-index: 2;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
}


/* for all text waining and prompt*/
.status-unconfirmed {
    color: #F44336 !important;
    /* Red */
}

.status-confirmed {
    color: #a7882b !important;
    /* Amber */
}

.color-gradient {
    background: linear-gradient(to right, #0000FF, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.status-completed {
    color: #146917 !important;
    /* Green */
}
.color-black{
    color: #000000;
}
/* Add more as needed */
.border {
    padding: 5px;
    border: 1.5px solid #fff;
}

.text-danger {
    font-size: 1rem;
    color: #D32F2F !important;
}

.text-warning {
    color: #ffaf00 !important;
}

.massage-prompt {
    display: none;
    max-width: 90%;
}

.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 92, 92);
    color: rgb(124, 7, 7);
    border: 10px solid rgb(204, 92, 92);
    border-radius: 6px;
}

.no-deposit-twice-prompt {
    display: none;
    max-width: 90%;
}

/*for menu bars (bugger) only*/
.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #711afd;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #6200ff;
    color: #fff;
}

.button-one-five-size-no-padding {
    font-size: 1.3rem;
    font-weight: 800;
}

/*google translator continer style rules are here*/
#google_translate_element select {
    background-color: #181818;
    color: #fff;
    width: 150px;
    border: 1.5px solid #adabab;
    padding: 10px;
    border-radius: 10px;
    position:sticky;
    top:0;
    z-index: 100;
}

/*style rules for general containers*/
a {
    text-decoration: none;
}

.deem-white-color {
    color: #b8b5b5 !important;
}

.dark-color {
    background-color: #1b1b1c;
    color: #ffffff;
}

.color-white {
    color: #ffffff !important;
}

.white-color {
    background-color: #cecaca;
    color: #1b1b1c;
}

.green-black-buttons {
    background-color: #1b1b1c;
    color: #adabab;
    border: 1.5px solid #19d895;
    border-radius: 6px;
    text-decoration: none;
    ;
}

.green-black-buttons:hover {
    background-color: #19d895;
    text-decoration: none;
    color: #181818;
}

.white-buttons {
    background-color: none;
    color: #adabab;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

.white-buttons:hover {
    border: none;
    color: #fff;
    text-decoration: none;
}

.yellow-buttons {
    background-color: #1b1b1c;
    color: #adabab;
    border: 1.5px solid #ffaf00;
    border-radius: 6px;
    text-decoration: none;
}

.yellow-buttons:hover {
    background-color: #ffaf00;
    text-decoration: none;
    color: #181818;
}

.green {
    color: green;
}

.green-buttons {
    background-color: #1b1b1c;
    color: #adabab;
    border: 1.5px solid #19d895;
    border-radius: 6px;
    text-decoration: none;
    ;
}

.green-buttons:hover {
    background-color: #19d895;
    text-decoration: none;
    color: #fff;
}

.blue-buttons {
    background-color: #1b1b1c;
    color: #adabab;
    text-decoration: none;
    border: 1.5px solid #2196f3;
    border-radius: 6px;
}

.blue-buttons:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2196f3;
}

.button-size-with-padding {
    font-size: 1rem;
    padding: 5px 10px;
}
.gap{
    gap: 10px;
}
.gap-and-padding {
    gap: 5px;
    padding: 5px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin {
    margin: 10px;
}

.font-weight {
    font-weight: 600;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.border-with-padding {
    padding: 10px;
    border: 1.5px solid #adabab;
}

/*Nav style rules are here*/
.burger {
    display: none;
    cursor: pointer;
    z-index: 11;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background: #000;
    width: 100%;
    height: fit-content;
    padding: 15px;
    position: fixed;
    z-index: 10;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: medium;
    gap: 15px;
    font-weight: 500;
    list-style: none;
    color: #fff;
    z-index: 10;
    flex-wrap: wrap;

}

.nav-links li {
    background: url('/clientphotos/logos/logo-clip.jpeg') no-repeat center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 1rem;
    font-size: 1rem;
}

.nav-links li:hover {
    background: none;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #BAB520;
    background-clip: border-box;
    color: #BAB520;
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    color: #fff;
    display: flex;
    font-family: "Irish Grover";
    width: 200px;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(to left, #0000FF, #800080, #FFFF00);
    /* Blue, Purple, Yellow gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*All logged in maain style rules are here*/
section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 30px 10px 10px 10px;
    width: 100%;
    gap: 10px;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;

}

.profile-translor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 55px 10px 10px 10px;
    background: rgba(192, 192, 192, 0.7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
    position: fixed;
    z-index: 10;
}

.profile-name-n-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1.5px solid #333;
    border-radius: 8px;
    background: rgba(192, 192, 192, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

.profile-picture {
    width: 50px;
    height: 50px;
    border: 1px solid #adabab;
    border-radius: 50%;
}

.profile-name {
    background: linear-gradient(to right, #0000FF, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: small;
}

.last-loggedin {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}

/*style rule for account summary in logged in dashboard*/
.account-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    height: fit-content;
}

.account-and-history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 0;
}

.account-summary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 400px;
    height: fit-content;
    flex-wrap: wrap;
    gap: 20px;
}

.sumary-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 12px;
    color: #ffffff;
    border-bottom: 2px solid #adabab;
}

.balance-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    width: 100%;
    padding: 0;
}

.deposit-and-withdrawal {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    width: 100%;
    height: fit-content;
}

.coin-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 143px;
    max-height: 150px;
    background: #fff;
    color: #333;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px 0 10px 0;
    gap: 8px;
}

.coin-card span {
    color: #184977;
    border-bottom: 1px solid #333;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-card a {
    margin-top: 5px;
}

.balance-speech {
    background-color: #fff;
    color: #000000;
    padding: 10px;
    border-radius: 10px 0 10px 0;
}

.divider {
    width: 2px;
    height: 50px;
}

.referal {
    background: rgba(192, 192, 192, 0.7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    width: 350px;
    height: fit-content;
    color: #000000;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
}

.referal-link {
    padding: 10px;
    border: 1.5px solid #ffffff;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
    width: 100%;
}

.popular-market {
    width: 90%;
    justify-content: start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.all-balance-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.all-transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    flex-wrap: wrap;
}

/*deposit.html style rules are here*/

.sign-up-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding: 20px 10px 10px 10px;
    color: #ffffff;
}

.header {
    border-radius: 10px 0 10px 0;
    color: #000000;
    background-color: rgba(192, 192, 192, .7);
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 10px 0 10px 0;
    text-transform: uppercase;
}

.deposit-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 15px;
    width: 98%;
    height: fit-content;
    gap: 5px;
    padding: 15px;
    background-color: rgba(192, 192, 192, .7);
    border-radius: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 8px;
    padding: 0;
}

.blue-link {
    text-decoration: none;
    color: #2196f3;
    font-size: medium;
    font-weight: 500;
}

.blue-link:hover {
    text-decoration: underline;
}

.select-input {
    display: flex;
    padding: 10px;
    border: 1.5px solid #ffffff;
    border-radius: 6px;
}

.withdrawal-table .for-image {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.for-image span {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-text a {
    text-decoration: none;
    color: #ffffff;
}

.footer-text a:hover {
    text-decoration: underline;
}

/*withdrawal.hbs style rules are here*/
.withdrawal-request {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    width: 90%;
    height: fit-content;
}

.withdrawal-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    height: fit-content;
    padding: 0;
    border: 1px solid #ffffff;
    background-color: rgba(192, 192, 192, 0.9) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000000;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
}

.withdrawal-table p {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #ffffff !important;
}

.withdrawal-table p:last-of-type {
    border-bottom: none !important;
}

.withdrawal-table p :nth-child(1) {
    font-weight: normal;
    width: 110px;
    flex-wrap: wrap;
    line-break: anywhere;
}

.withdrawal-adress-field {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(192, 192, 192, 0.9) !important;
    color: #000000;
}

.withdrawal-adress-field input {
    display: flex;
    padding: 10px;
    border: 1.5px solid #adabab;
    border-radius: 6px;
}

.detail-deposit-table {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    flex-wrap: wrap;
    width: 90%;
    max-width: 300px;
    border: 1.5px solid #ffffff;
    background-color: rgba(192, 192, 192, 0.9) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: #000000;
    border-radius: 15px 0 15px 0;
    padding: 0 !important;
    gap: 10px;
}

.detail-deposit-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #000000 !important;
}

.detail-deposit-table p {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #000000 !important;
}

.detail-deposit-table p :nth-child(1) {
    font-weight: normal;
    width: 110px;
    flex-wrap: wrap;
    line-break: anywhere;
}

.detail-deposit-table p:last-of-type {
    border-bottom: none !important;
}

/*settings.hbs style rules are here*/
.profile-settings-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: rgba(192, 192, 192, .7);
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    width: 98%;
    gap: 10px;
    height: fit-content;
    padding: 10px;
}

.profile-photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.profile-fields {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: fit-content;
}

.profile-fields label {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    color: #fff;
    height: fit-content;
}

.profile-fields input {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: medium;
    border: 1.5px solid #ffffff;
    border-radius: 6px;
}

.profile-settings-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

/*History style rules are here*/
.transaction-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
    gap: 10px;
    background: rgba(192, 192, 192, 0.9);
    color: #000;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1.5px solid #ffffff;
    border-radius: 25px 0 25px 0;
    position:sticky;
    top: 140px;
}
.transaction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
    font-size: 1rem;
    font-weight: 500;
    background-color: none;
}
.select-currency{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.all-transaction{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: rgba(192, 192, 192, 0.5);
    color: #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1.5px solid #ffffff;
    border-radius: 8px 0 8px 0;
}
.all-transaction:hover{
    background: #ffffff;
}
.date-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.start-date{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.transaction-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    width: 100%;
    height: fit-content;
    background: rgba(192, 192, 192, 0.7);
    color: #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1.5px solid #ffffff;
    border-radius: 25px 0 25px 0;
}
.history{
    display: flex;
    width: 100%;
    max-height:400px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background: rgba(192, 192, 192, 0.9);
    color: #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #ffffff;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
}
.history-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:6px;

}
.investment-plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: fit-content;
    padding: 20px 10px;
    flex-wrap: wrap;
}

.investment-plans {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 250px;
    height: fit-content;
    padding: 20px 10px;
    gap: 15px;
    flex-wrap: wrap;
    border: 1px solid #ffffff;
    background-color: rgba(192, 192, 192, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000000;
    border-radius: 15px 0 15px 0;
}

.get-started {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #222;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.get-started:hover {
    background-color: #222;
    color: #fff;
    text-decoration: none;
}


.investment-plans-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: rgba(192, 192, 192, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000000;
    margin: 0;
}

.investment-plans-card img {
    width: 90%;
    height: 200px;
    border-radius: 15px;
}

.text-white {
    color: rgba(255, 255, 255, .7);
}

/*style rules for zoom image are here*/
.image-zoom-modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoomed-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 90%;
    max-height: 90vh;
    border-radius: 8px;
}

.close-zoom {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    z-index: 10000;
}

.form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width:750px) {
    section {
        margin-top: 78px;
        padding: 25px 10px 10px 10px;
    }

    nav {
        justify-content: space-between;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 10px;
        border-radius: 0 0 30px 30px;
        background: #000;
        transition: transform 0.5s ease-in-out;
    }

    .nav-links li {
        letter-spacing: 2px;
        margin: 10px 0;
    }

    .nav-links.nav-active {
        transform: translateX(100%);
    }

    body.nav-active .all-body {
        overflow: hidden;
        pointer-events: none;
        opacity: 0.5;
    }

    body.nav-active nav {
        pointer-events: auto;
        opacity: 1;
    }

    .nav-active~.content {
        filter: blur(5px);
        transition: filter 0.5s ease-in-out;
    }

    .burger {
        display: block;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #ECFC07;
    }

    .burger.toggle .line2 {
        background-color: #ECFC07;
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: #ECFC07;
    }
    #google_translate_element select {
    padding: 7px;
    border-radius: 7px;
    font-size:small;
}

    .profile-translor {
    padding: 45px 10px 10px 10px;
}

.profile-name-n-img {
    gap: 15px;
    padding: 7px;
}

.profile-picture {
    width: 35px;
    height: 35px;
}

.profile-name {
    font-size: small;
}


    /*style rule for account summary in logged in dashboard*/

    .account-and-history {
        flex-direction: column;
    }

    .account-summary {
        width: 100%;
    }

    .referal {
        width: 95%;
        font-size: medium;
    }
    .transaction-content{
        width: 100%;
    }
    .all-transaction{
        width: 120px;
    }
    .transaction-content{
    top: 120px;
}


}

@media(max-width:383px) {
    .divider {
        width: 80%;
        height: 2px;
    }

    .account-summary-container {
        font-size: medium;
    }

    .coin-card {
        max-width: 130px;
        max-height: 120px;
    }


    .coin-card p {
        font-size: small;
    }

    .coin-card a {
        font-size: small;
        margin-top: 5px;
    }
    .all-transaction{
        width: 100px;
    }

}
@media(max-width:370px){
     section {
        margin-top: 145px;
        padding: 25px 10px 10px 10px;
    }
}