<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/adminStyle.css">
</head>

<body>
    <section style="background-color: #ffffff !important; height: 100vh;">
        <div style="display:block; transform:translateX(50%); transform:translateY(20%); gap: 10px; text-align: center; padding: 10px;">
            <h2 style="color: #000000 !important;">Oops! Something went wrong.</h2>
            <p style="color: #000000 !important;">Please try again or contact support.</p>
            <a style="margin: 10px;" class="submit-button" href="javascript:history.back()">Go Back</a>
        </div>
    </section>

</body>

</html>