<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Investment Plans</title>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/adminStyle.css">
</head>

<body>
    <section>
        <h2>Wallet Adresses</h2>
        <div class="total-plan-container">

            {{#each wallets}}
            <div class="my-wallet">
                <div class="wallet-details">
                    <h3><i class="fa-solid fa-wallet" style="background-color: #fffffff;"> </i>{{this.name}}:</h3>
                    <span class="color-gradient">${{this.adress}}</span>
                </div>
                <div class="my-plan-buttons">
                    <span class="edit-wallet submit-button" data-id="{{this._id}}">Edit Wallet</span>
                    <span class="delete-wallet submit-button" style="background-color: #D32F2F !important;"
                        data-id="{{this._id}}">Delete Wallet</span>
                </div>
            </div>
            {{/each}}
        </div>

        <button class="wallet-adress submit-button">Add Wallet Adress</button>
    </section>


    {{!-- Modal for creating/Editing Plans --}}
    <div id="wallet-modal" class="modal hidden">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="wallet-modal-title">Add New Wallet Adress</h3>
                <i class="fa-solid fa-xmark close-wallet-modal"></i>
            </div>
            <form id="Wallet-form">
                <input type="hidden" id="Wallet-id" name="planId">
                <div>
                    <label for="plan-name">Wallet Name:</label>
                    <input type="text" id="wallet-name" name="name" required>
                </div>
                <div>
                    <label for="plan-name">Wallet Adress:</label>
                    <input type="text" id="wallet-adress" name="adress" required>
                </div>
                <button type="submit" class="submit-button">Save Wallet Adress</button>
            </form>

        </div>
    </div>



    <script src="/adminScript.js"></script>
</body>

</html>