<!DOCTYPE html>
<html lang="en">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
        color: black !important;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Investment Plans</title>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/adminStyle.css">
</head>

<body>
    <main>
        <section>
            <h2>Wallet Adresses</h2>
            <div class="total-plan-container">
 
                {{#each wallets}}
                <div class="my-plan">
                    <div class="my-wallet-header">
                        <span><i class="fa-solid fa-wallet"></i></span>
                    </div>
                    <ul>
                        <li>
                            <h4>{{this.name}}:</h4> <span class="green">${{this.adress}}</span>
                        </li>
                    </ul>
                    <div class="my-plan-buttons">
                        <b class="edit-wallet plan-button" data-id="{{this._id}}">Edit Wallet</b>
                        <b class="delete-wallet plan-button" data-id="{{this._id}}">Delete Wallet</b>
                    </div>
                </div>
                {{/each}}
            </div>

            <button class="wallet-adress plan-button">Add Wallet Adress</button>
        </section>
    </main>


    {{!-- Modal for creating/Editing Plans --}}
    <div id="wallet-modal" class="modal hidden">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="wallet-modal-title">Add New Wallet Adress</h3>
                <i class="fa-solid fa-xmark close-wallet-modal"></i>
            </div>
            <form id="Wallet-form">
                <input type="hidden" id="Wallet-id" name="planId">
                <div>
                    <label for="plan-name">Wallet Name:</label>
                    <input type="text" id="wallet-name" name="name" required>
                </div>
                <div>
                    <label for="plan-name">Wallet Adress:</label>
                    <input type="text" id="wallet-adress" name="adress" required>
                </div>
                <button type="submit" class="plan-button">Save Wallet Adress</button>
            </form>

        </div>
    </div>



    <script src="/adminScript.js"></script>
</body>

</html>