*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style rules for loading indicator started here*/
.in-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: 100vh; /* Full viewport height */
}

.in-loader div {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: in-loader-animation 1.2s infinite ease-in-out;
}

@keyframes in-loader-animation {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
/*style rules for loading indicator ended here*/

/*nav style rules are here*/
.burger{
    display: none;
    cursor: pointer;
    z-index: 11;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #181818;
    color: #d1cdcd;
    position: fixed;
    width: 100%;
    z-index: 100;
}
nav .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}
nav .nav-bar li a{
    color: #b6b6b6;
    text-decoration: none;
}
nav .nav-bar li a:hover{
    color: #fff;
    text-decoration: none;
}
.company-header a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: transform 0.5s ease;
}
nav .company-drop_down{
    display: none;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 25px;
    color: #181818;
    list-style: none;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
nav .company-drop_down.show{
    display: flex;
}
.company-header i{
    transition: transform 0.5s ease;
}
.navArowActive{
    transform: rotate(180deg);
}
nav .company-drop_down li a:hover{
    color: #000;
}
/*landing page video style is here*/
.bg-video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Description and trade view style rules are here*/
.description-and-trade_view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: #181818;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: fit-content;
    width: 100%;
    overflow: hidden;
}
.slide-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 400%;
}
.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: start;
    height: fit-content;
    width: 90%;
    padding: 20px;
    animation: slide 24s linear infinite;
}
@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    5% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}


.slider p{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    list-style: none;
}
.learn-more p:first-child a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #333;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.learn-more p:first-child a span{
    background-color: rgb(61, 61, 252);
    padding: 2px 5px;
    border-radius: 5px;
}
.learn-more h1{
    color: #fff;
}
.learn-more h1 span{
    border-bottom: 2px solid rgb(61, 61, 252);
}
.learn-more p:last-child{
    color: #d4d2d2;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #333;
}
.login:hover{
    text-decoration: none;
    color: #333;
}
.login i{
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}
.login:hover i{
    transform: rotate(0deg);
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #5A4FCF;
    border-radius: 10px;
    color: #fff;
}
.signin:hover{
    text-decoration: none;
    color: #fff;
}
.signin i{
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}
.signin:hover i{
    transform: rotate(0deg);
}
.in-price_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    gap: 10px;
    width: 100%;
    height: fit-content;

}
.in-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px 25px;
    border-radius: 15px;
    background-color: #111010;
    color: #fff;

}
.in-price p{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.in-price p span{
    animation: rotating 3s linear infinite;
}
@keyframes rotating{
    0%{
        transform: rotate(odeg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.crypto-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: fit-content;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #111010;
    color: #fff;
}
.crypto-details .uk-margin-remove{
    font-size: medium;
    color: #fff;
}
.crypto-details .uk-margin-remove span{
    font-size: small;
    color: #8f8e8e;
}
.crypto-details .uk-margin-remove p{
    font-size: small;
    color: rgb(199, 53, 77);
}
.our-service-p{
    font-size: larger;
    font-weight: 600;
    color: #8f8e8e;
}


.flip-box {
    background-color: transparent;
    width:200px;
    height: 200px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    animation: rotate 4s linear infinite;
}

.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
/*flip box for bit coin  3d rotation style rules are here*/
@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* about and iframe sections style rules are here*/
.bg-color{
    background-color: #f5f7f9;
}
.section-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    font-weight: 600;
}
.section-head h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}
.span{
    border-bottom: 2px solid rgb(61, 61, 252);
}
.section-head h3{
    color: rgb(61, 61, 252);
    font-size: 500;
}
.section-head ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.section-head ul li{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.section-head ul li i{
    color: rgb(61, 61, 252);
}
.center-nav{
    width: 100%;
    height: fit-content;
}
.center-nav-div a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #adabab;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    position: relative;
    transition: 0.5s;
}
.center-nav-div a:hover{
    text-decoration: none;
    border: 1.5px solid rgb(61, 61, 252);
}
.center-nav-div a i{
    width: fit-content;
    background-color: #fff;
    font-size: 30px;
    color: rgb(61, 61, 252);
    padding: 5px 20px;
    position: absolute;
    top: -25px;
}
.center-nav a h5{
    margin: 0;
    padding-top: 10px;
    font-weight: 600;
}
.center-nav a p{
    margin: 0;
}

/*iframe section style rules are here*/
.inframe-speech h2{
    font-weight: 600;
}
.iframe-learn-more i{
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}
.iframe-learn-more:hover i{
    transform: rotate(0deg);
}

/*Choose plan section style rules are here*/
.uk-card-body{
    height: fit-content;
}
.data-base{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.data-base span{
    background-color: #e54a41;
    color: #fff;
    padding: 5px 7px;
    font-size: smaller;
    border-radius: 100%;
}
.button-i i{
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}
.button-i:hover i{
    transform: rotate(0deg);
}
/*style rules for Invest on most popular Market*/
.black-color{
    background-color: #181818;
}
/*style rules for Trade with confidence*/
.in-symbol-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.in-symbol img{
    animation: breath 5s linear infinite;
}
@keyframes breath{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0);
    }
}
.Mcdonald{
    left: 30%; 
    top: 70%;
}
.Intel{
    left: 68%; 
    top: 42%;

}
.Amazon{
    left: 30%; 
    top: 35%;
    width: 120px;
    height: 120px;
}
.yahoo{
    left: 70%; 
    top: 65%;
    width: 120px;
    height: 120px;
}
.in-symbol-5{
    left: 10%; 
    top: 38%;
    background-color: #61c4e6;
    width: 65px;
    height: 65px;
    border-radius: 100%;
}
.in-symbol-6{
    left: 47%; 
    top: 20%;
    background-color: #6dec6d;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.in-symbol-7{
    left: 63%; 
    top: 81%;
    background-color: #f8b82c;
    width: 65px;
    height: 65px;
    border-radius: 100%;
}
.in-symbol-8{
    left: 28%; 
    top: 90%;
    background-color: #3c9fc0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.explore-all{
    width: fit-content;
    padding: 10px;
    background-color: #8f8e8e;
    border-radius: 10px;
}
.in-symbol-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    background-color: #111010;
    border-radius: 10px;
    color: #fff;
}
.in-symbol-card img{
    width: 80%;
    height: 100px;
    border: 1px solid #181818;
    border-radius: 20px;
}
/*Security of Client's Funds style rules are here*/
.security-container{
    padding: 20px 0 20px 0;
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6608FE;
}
.security-container-content{
    width: 99%;
    justify-content: center;
    align-items: center;
}
.security-container-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.security-container-content-div img{
    width: 300px;
    height: 250px;
    border: 2px solid #181818;
    border-radius: 15px;
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
/*FAQs style rules are here*/
.f-a-q-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 20px 0 20px 0;
}
.drawer-container{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: fit-content;
    gap: 20px;
    padding: 10px;
}
.f-a-q-drawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}
.drawer-head{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    color: #525151;
    font-weight: 600;
}
.drawer{
    width: 100%;
    display: none;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.drawer.open {
    max-height: 600px; /* Adjust this value based on the content height */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    color: #181818;
}
.drawer-head.headerActive{
    background-color: #5A4FCF;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
    color: #181818;
}
.drawer-head i{
    transform: rotate(0);
    transition: 0.5s ease-in-out;
}
.drawer-head:hover i{
    transform: rotate(90deg);
}
.see-more-faq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.see-more-faq p{
    width: fit-content;
    padding: 10px;
    background-color: #fff;
    color: #525151;
    border-radius: 10px;
}
.see-more-faq p:hover{
    color: #181818;
    font-weight: 400;
}
/*Trade in one step*/
.trade-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.trade-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    padding: 20px 0 20px 0;
    width: 100%;
}
.trade-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}
.trade-container-details-and-img{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
}
.trade-container-details{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 10px;
   width: fit-content;
   height: fit-content;
}
.trade-container-content-card{
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 15px;
    padding: 15px;
    width: 100%;
    border: 1.5px solid #adabab;
    border-radius: 10px;
    color: #fff;
    transition: all 0.5s ease-in;
}
.trade-container-content-card span{
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.5s ease-in;
}
.trade-container-content-card:hover{
    border: 1.5px solid #6608FE;
    transition: all 0.5s ease-in;
}
.trade-container-content-card:hover span{
    background-color: #6608FE;
    color: #181818;
    transition: all 0.5s ease-in;
}
.trade-container-content-card h5{
    font-size: 1.5rem;
    font-weight: 500;
}
.trade-container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}
.trade-container-img img{
    width: 80%;
    height: 200px;
}
    /*About us shot with learnMore button*/
.about-us-contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #b6b6b6;
    border-radius: 10px;
    width: 100%;
    color: #000;
    padding: 15px;
}
.about-us-contianer p{
        color: #000;
        font-weight: 400;
}
    /*style rules for any question*/
.any-question-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #181818;
}
.any-question{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:25px 10px 25px 10px;
}
    /*style rules for Trade the world’s most popular markets container are here*/
.most-popular-market-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }
    .most-popular-market-card{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #aaa6a6;
        border-radius: 10px;
        width: 300px;
        height: 120px;
    }
    /*style rules for investors  choice container are here*/
    .investor-choice-container{
        background-color: rgb(233, 38, 158);
        background-image: url(Photos/Logos/stock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 800px;
        background-position-y: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
    }
.investor-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.investor-choice-speech{
    background: rgba(192, 192, 192, 0.5);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-blend-mode: color-burn;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.investor-choice-speech h4{
    margin: 0;
    padding: 0;
}
.investor-choice-speech h3{
    margin: 0;
    padding-top: 5px;
}
.invest-button{
    color: #fff;
    background-color: #181818;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
}
.invest-button:hover{
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

/*Fast and reliable withdrawal/deposit method container style rules are here*/
.Fast-and-reliable-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7d4d4;
    padding: 20px 0;
    width: 100%;
    height: fit-content;
}
.Fast-and-reliable-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 15px;
}
.Fast-and-reliable-content h4{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 500;
}
.Fast-and-reliable-content-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.Fast-and-reliable-content-img img{
    width: 60px;
    height: 60px;
}

/*Footer style rules are here*/
.simpli_nestle{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 0 40px 40px;
    width: 100%;
    background-color: #e7d4d4;
}
.simpli_nestle img{
    background-color: rgb(18, 3, 83);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
.all-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 40px 40px;
    width: 100%;
    height: fit-content;
    background-color: #e7d4d4;
}
.footer-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.footer-ul-content{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    gap: 20%;
    height: fit-content;
    width: 100%;
    padding: 0;
}
.ul-details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}
.ul-details h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.ul-details ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ul-details ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.ul-details ul li a:hover{
    color: rgb(238, 148, 12);
}
.social-handles{
    width: 100%;
    padding-bottom: 20px;
}
 .social-handles ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10%;
}
.social-handles ul li a{
    text-decoration: none;
    color: #333;
}
.social-handles ul li a:hover{
    color: #000;
}
.line{
    display: flex;
    align-self: center;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: #726f6f;
}
.terms-ul{
    width: 100%;
    padding: 20px 0;
}
.terms-ul ul{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 5%;
    padding: 0;
}
.li-line{
    height: 15px;
    width: 2px;
    background-color: #726f6f;
}
.terms-ul ul li a{
    text-decoration: none;
    color: #706e6e;
}
.terms-ul ul li a:hover{
    color: #000;
}

/*page under development sty6le rules are here*/
.all-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

@media (max-width: 960px){
    nav .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 90vh;
        padding-bottom: 40px;
        text-align: center;
        padding-top: 48px;
        padding-bottom: 10px;
        border-radius: 0 0 30px 30px;
        background-color: #000;
        transition: transform 0.5s ease-in-out;
        z-index: 10;
        letter-spacing: 2px;
    }
    .nav-bar.nav-active{
        transform: translateX(100%);
    }
    .burger{
        display: block;
    }
    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: #ECFC07;
    }
    .burger.toggle .line2 {
        background-color: #ECFC07;
        opacity: 0;
    }
    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background-color: #ECFC07;
    }
    nav .company-drop_down{
        position: relative;
        top: 5px;
        background-color: none;
    }
    /*style rules for Trade with confidence*/
.in-symbol-container{
    flex-direction: column;
}
.in-symbol{
    width: 100%;
    height: 400px;
}
.Mcdonald{
    width: 150px;
    height: 150px;
}
.Intel{
    width: 120px;
    height: 120px;
}
.Amazon{
    width: 100px;
    height: 100px;
}
.yahoo{
    width: 70px;
    height: 70px;
}
.in-symbol-5{
    width: 60px;
    height: 60px;
}
.in-symbol-6{
    width: 55px;
    height: 55px;
}
.in-symbol-7{
    width: 60px;
    height: 60px;
}
.in-symbol-8{
    left: 28%; 
    top: 86%;
    width: 20px;
    height: 20px;
}
.get-started{
    margin: 0;
    padding: 0;
}
/*style rules for FAQs*/
.drawer-container{
    flex-direction: column;
}
.f-a-q-drawer{
    width: 100%;
}
.drawer-head{
    gap: 10px;
    padding: 5px;
}
/* style rules for begin trade in three steps*/
.trade-container-details-and-img{
    flex-direction: column;
}
.trade-container-content-card{
    width: 100%;
}
  /*style rules for Trade the world’s most popular markets container are here*/
.most-popular-market-card{
    width: 350px;
    height: 120px;
}

    /*style rules for investors  choice container are here*/
    .investor-choice-container{
        background-size: 700px;
    }

}
@media (max-width: 700px){
    .trade-container-header{
        flex-direction: column;
        justify-content: center;
    }
    /*style rules for investors  choice container are here*/
    .investor-choice-container{
        background-size: 100%;
    }
.investor-choice{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 90%;
}
}
@media (max-width: 500px){
    nav{
        flex-direction: column;
        gap: 10px;
    }
    nav .nav-bar{
        top: 0;
        justify-content: center;
        gap: 5%;
    }

    /*this tyle is for the purple background security details*/
    .get-started{
        flex-direction: column;
    }
      /*style rules for Trade the world’s most popular markets container are here*/
    .most-popular-market-card{
        width: 95%;
        height: fit-content;
    }
    /*style rules for investors  choice container are here*/
    .investor-choice-container{
        background-size: 120%;
    }
    /*Footer style rules are here*/
    .simpli_nestle{
        justify-content: center;
        align-items: center;
        background-color: #ccc0c0;
        padding: 10px;
    }
    .all-footer{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .footer-ul-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer-contents{
        gap: 10px;
    }
    .social-handles ul{
        gap: 20px;
        padding: 20px;
    }

}