<!DOCTYPE html>
<html lang="en">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
        color: black !important;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/adminStyle.css">

    <!-- Google Translate script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav>
        <div class="logo-and-searchBar">
            <h3 class="color-gradient">High Capital</h3>
            <div id="google_translate_element"></div>
        </div>

        <div class="logo-and-searchBar">
            <div class="menu-and-header">
                <i class="fa-solid fa-bars menu-bar"></i>
            </div>
            <div class="HeaderSearchBar disabled">
                <input type="text" class="product-search-bar" placeholder="Search for user by name, email ....." />
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div> 
        </div>
    </nav>

    <main>
        <nav class="side-nav">
            <div class="close-nav">
                <i class="fa-solid fa-xmark close-nav"></i>
            </div>
            <ul>
                <li class="active"><a href="/admin">Dashboard Overview</a></li>
                <li><a href="/admin/user">User Management</a></li>
                <li><a href="/admin/userDeposit">Users Deposits</a></li>
                <li><a href="/admin/userWithdrawal">Users Withdrawals</a></li>
                <li><a href="/admin/history">Transaction history</a></li>
                <li><a href="/admin/investmentPlans">Investment Plan Management</a></li>
                <li><a href="/admin//walletAdresses">Wallet Management</a></li>
                <li class="disabled"><a href="/admin/Notifications">Notifications and Alerts</a></li>

                <!--<li><a></a></li>
                        <li><a>Security and Audit Logs</a></li>-->
            </ul>
        </nav>

        {{{body}}} <!-- Placeholder for dynamic content -->

    </main>
</body>

</html>