<!DOCTYPE html>
<html lang="en">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
        position: sticky;
        top: 0;
    }

    .goog-te-gadget span {
        display: none;
    }

    .goog-te-gadget .goog-te-combo {
        color: #ffffff !important;
    }
</style>

<head>

    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+15142983463", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#FF6550", // Color of button
                position: "left", // Position may be 'right' or 'left'
                width: "50px",
                height: "50px",
                pre_filled_message: "How do I get started with your company?", // WhatsApp pre-filled message
            };
            var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181818">
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/loggedInStyle.css">
    <!-- Google Translate script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav>
        <ul class="nav-bar">
            <li> <a href="/user/dashboard/">
                    <i class='fa fa-bank i-con'></i>
                    <span>Dashboard</span>
                </a></li>
            <li> <a href="/user/deposit/">
                    <i class='fa fa-upload i-con'></i>
                    <span>Deposit</span>
                </a></li>
            <li> <a href="/user/withdrawal">
                    <i class='fa fa-download i-con'></i>
                    <span>Withdraw</span>
                </a></li>
            <li> <a href="/user/investmentPlans">
                    <i class="fa fa-briefcase i-con" aria-hidden="true"></i>
                    <span>Investement Plans</span>
                </a></li>
            <li> <a href="/user/history">
                    <i class='fa fa-file-text-o i-con'></i>
                    <span>Transaction History</span>
                </a></li>
            <li> <a href="/user/invest">
                    <i class='fa fa-rocket i-con'></i>
                    <span>Investments</span>
                </a></li>
            <li> <a href="/user/support">
                    <i class="fa fa-commenting-o i-con" aria-hidden="true"></i>
                    <span>Get Support</span>
                </a></li>
            <li> <a href="/user/referees">
                    <i class="fa fa-users i-con" aria-hidden="true"></i>
                    <span>View Referees</span>
                </a></li>
            <li> <a href="/user/settings/confirm">
                    <i class="fa fa-gear i-con" aria-hidden="true"></i>
                    <span>Profile Settings</span>
                </a></li>
            <!--<li> <a href="/user/logout">
                    <i class='fa fa-sign-out i-con'></i>
                    <span>Log Out</span>
                </a></li>-->
        </ul>
        <h3 class="logo">High Capital</h3>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <main class="all-body body">
        <div class="profile-translor">
            <div class="profile-name-n-img">
                <img src="{{#if user.profilePhoto}}{{user.profilePhoto}}{{else}}https://res.cloudinary.com/daniela1/image/upload/v1658152279/user_nisaxc.png{{/if}}"
                    class="profile-picture" id="profile-picture">
                <p class="profile-name">{{user.userName}}</p>
            </div>
            <div id="google_translate_element"></div>
        </div>

        {{{body}}} <!-- Placeholder for dynamic content -->



        <div class="form-footer">
            <p>Copyright © highcapital.com. All rights reserved.</p>
        </div>
    </main>

</body>

</html>