<!DOCTYPE html>
<html lang="en">

<head>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#181818">
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/loggedInStyle.css">
    <!-- Google Translate script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav>
        <ul class="nav-links">
            <li> <a href="/user/dashboard/">
                    <i class='fa fa-bank i-con'></i>
                    <span>Dashboard</span>
                </a></li>
            <li> <a href="/user/makeDeposit/">
                    <i class='fa fa-upload i-con'></i>
                    <span>Deposit</span>
                </a></li>
            <li> <a href="/user/withdrawal">
                    <i class='fa fa-download i-con'></i>
                    <span>Withdraw</span>
                </a></li>
            <li> <a href="/user/investmentPlans">
                    <i class="fa fa-briefcase i-con" aria-hidden="true"></i>
                    <span>Investement Plans</span>
                </a></li>
            <li> <a href="/user/history">
                    <i class='fa fa-file-text-o i-con'></i>
                    <span>Transaction History</span>
                </a></li>
            <li> <a href="/user/support">
                    <i class="fa fa-commenting-o i-con" aria-hidden="true"></i>
                    <span>Get Support</span>
                </a></li>
            <li> <a href="/user/referees">
                    <i class="fa fa-users i-con" aria-hidden="true"></i>
                    <span>View Referees</span>
                </a></li>
            <li> <a href="/user/settings/confirm">
                    <i class="fa fa-gear i-con" aria-hidden="true"></i>
                    <span>Profile Settings</span>
                </a></li>
            <!--<li> <a href="/user/logout">
                    <i class='fa fa-sign-out i-con'></i>
                    <span>Log Out</span>
                </a></li>-->
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <a href="/user/dashboard">
            <h3 class="logo">High Capital</h3>
        </a>
    </nav>

    <main class="all-body body">
        <div class="profile-translor">
            <div class="profile-name-n-img">
                <img src="{{#if user.profilePhoto}}{{user.profilePhoto}}{{else}}https://res.cloudinary.com/daniela1/image/upload/v1658152279/user_nisaxc.png{{/if}}"
                    class="profile-picture" id="profile-picture">
                <p class="profile-name">{{user.userName}}</p>
            </div>
            <div id="google_translate_element"></div>
        </div>

        {{{body}}} <!-- Placeholder for dynamic content -->



        <div class="form-footer">
            <p>Copyright © simplinestle.org. All rights reserved.</p>
        </div>
    </main>

</body>

</html>