<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
        color: black !important;
    }
</style>

<head>
    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+61485972443", // WhatsApp number
                call_to_action: "Message us", // Call to action
                button_color: "#FF6550", // Color of button
                position: "left", // Position may be 'right' or 'left'
                pre_filled_message: "How do I get started with your company?", // WhatsApp pre-filled message
            };
            var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/66c7afbeea492f34bc092681/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>simplinestle.org | Home </title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Uikit/css/uikit.min.css">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->

    <!--for google translator-->
    <script src="/https://www.gstatic.com/translate/translate_tts.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <!-- nav content begin -->
    <nav>

        <!-- logo begin -->
        <div id="google_translate_element"></div>

        <a href="/web">
            <img src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
                data-src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
                alt="LOGO" width="146" data-uk-img>
        </a>
        <!-- logo end -->
        <!-- navigation begin -->
        <ul class="nav-bar">
            <li>
                <div class="drop-down-menu">
                    <div class="company-header">
                        <a href="#">Company<i class="fa-solid fa-chevron-down"></i></a>
                    </div>
                    <ul class="company-drop_down">
                        <li><a href="/web/FAQ">FAQ's</a></li>
                        <li><a href="/web/team">Team</a></li>
                        <li><a href="/web/buyAndSell">Buy/Sell</a></li>
                        <li><a href="/web/termOfUse">Term Of Use</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/web/contact">Contact Us</a></li>
            <li><a href="/web/about">About Us</a></li>
            <li><a href="/web/market">Markets</a></li>
            <li><a href="/web/investment">Plans</a></li>
            <li><a href="/web/service">Our Services</a></li>
            <li><a href="/web/legal">Legal</a></li>
            <li><a href="/user/signUp">Register</a></li>
            <li><a href="/user/login">Login</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <!-- navigation end -->

        <!--<div class="uk-navbar-right">-->
        <!--<div class="uk-navbar-item uk-visible@m ">-->

        <!--<a style="background-color: #6608FE;" href="/account/user/signup/" class="uk-button uk-button-primary uk-border-rounded">Sign-->
        <!--up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>-->

        <!--</div>-->
        <!--</div>-->
    </nav>


    <main>
        {{{body}}} <!-- Placeholder for dynamic content -->
    </main>


    <!---the Investors #1 Choice container is here-->
    <div class="investor-choice-container">
        <div class="investor-choice">
            <div class="investor-choice-speech">
                <h3>Investors #1 Choice</h3>
                <h4>simplinestle.org</h4>
            </div>

            <div>
                <span>
                    <a href="/user/signUp" class="invest-button">Open your account</a>
                </span>
            </div>
        </div>
    </div>

    <!--Fast and reliable withdrawal/deposit method container is here-->
    <div class="Fast-and-reliable-container">
        <div class="Fast-and-reliable-content">
            <h4>Fast and reliable withdrawal/deposit method</h4>
            <div class="Fast-and-reliable-content-img">
                <img class="uk-margin-remove" src="/Photos/coins/footer-bitcoin.png" alt="Bitcoin">

                <img class="uk-margin-remove" src="/Photos/coins/footer-ethereum.png" alt="Ethereum">

                <img class="uk-margin-remove" src="/Photos/coins/footer-litecoin.png" alt="Litecoin">

                <img class="uk-margin-remove" src="/Photos/coins/footer-usdt.png" alt="USDT">

                <img class="uk-margin-remove" src="/Photos/coins/xrp.9b9c7558a9ba.png" alt="XRP">
            </div>
        </div>
    </div>

    <!--footer container is here-->
    <footer>
        <div class="simpli_nestle">
            <img src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
                data-src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
                alt="" width="146" height="39" data-uk-img>
        </div>


        <!-- footer content begin -->
        <div class="all-footer">
            <div class="footer-contents">
                <div class="footer-ul-content">

                    <div class="ul-details">
                        <h5>Our Company</h5>
                        <ul>
                            <li><a href="/web/about">About Us</a></li>
                            <li><a href="/web/service">What We Offer</a></li>
                            <li><a href="/web/FAQ">FAQ's</a></li>
                            <li><a href="/web/contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="ul-details">
                        <h5>Our Services</h5>
                        <ul>
                            <li><a href="/web/buyAndSell">Forex Trading</a></li>
                            <li><a href="/web/service">Real Estate</a></li>

                        </ul>
                    </div>

                    <div class="ul-details">
                        <h5>Account</h5>
                        <ul>
                            <li><a href="/user/signUp">Create Account</a></li>
                            <li><a href="/user/login">Login</a></li>
                        </ul>
                    </div>

                </div>

                <div class=" social-handles">
                    <ul>
                        <li><a href="https://wa.me/+2348163895833_blank" class="wa-bg"><i
                                    class="fab fa-whatsapp"></i>Whatsapp</a></li>
                        <li><a href="#0" class="tl-bg"><i class="fab fa-telegram-plane"></i>Telegram</a></li>
                        <li><a href="mailto:bosssantexdlyon@gmail.com" target="_blank" class="myBgYello"><i
                                    class="fa fa-envelope"></i> Email</a></li>
                        <li><a href="https://youtu.be/F3QpgXBtDeo_blank" class="yt-bg"><i
                                    class="fab fa-youtube"></i>Youtube</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-ul-content">
                <div class="line"></div>
                <div class="terms-ul">
                    <ul>
                        <li><a href="/user/termOfUse">Terms of Use</a></li>
                        <li>
                            <div class="li-line"></div>
                        </li>
                        <li><a href="/user/termOfUse">Privacy policy</a></li>
                        <li>
                            <div class="li-line"></div>
                        </li>
                        <li><a href="/user/legal">Legal</a></li>
                        <li>
                            <div class="li-line"></div>
                        </li>
                        <li><a href="/user/buyAndSell">Buy Digital Currency</a></li>
                    </ul>
                    <p class="copyright-text">©2019 simplinestle.org. All Rights Reserved.</p>
                </div>
                <div class="uk-width-1-3@m uk-flex uk-visible@m footer-icons">
                    <span class="uk-margin-right"><img src="/Photos/coins/footer-bitcoin.png"
                            data-src="Photos/coins/footer-bitcoin.png" alt="" width="34" height="auto"
                            data-uk-img></span>
                    <span class="uk-margin-right"><img src="/Photos/coins/footer-ethereum.png"
                            data-src="Photos/coins/footer-ethereum.png" alt="" width="34" height="auto"
                            data-uk-img></span>
                    <span class="uk-margin-right"><img src="/Photos/coins/footer-litecoin.png"
                            data-src="Photos/coins/footer-litecoin.png" alt="" width="34" height="auto"
                            data-uk-img></span>
                    <span class="uk-margin-right"><img src="/Photos/coins/footer-usdt.png"
                            data-src="Photos/coins/footer-usdt.png" alt="" width="34" height="auto" data-uk-img></span>
                    <span class=""><img src="/Photos/coins/footer-xrp.png" data-src="Photos/coins/footer-xrp.png" alt=""
                            width="34" height="auto" data-uk-img></span>
                </div>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <!-- <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>-->
    </footer>


</body>

</html>