<!DOCTYPE html>
<html lang="en">

<head>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>simplinestle.org | User Dashboard </title>
    <meta name="theme-color" content="#181818">
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/loggedInStyle.css">
</head>

<body>
    <section>
        <div class="account-summary-container">
            <div class="account-and-history">
                <div class="account-summary">
                    <div class="sumary-head">
                        <h3 class="header">Account Summary</h3>
                        <a class="blue-buttons button-size-with-padding" href="/user/history">
                            <i class="fa fa-file-text"> </i> History</a>
                    </div>
                    <div class="balance-detail">
                        <div class="deposit-and-withdrawal">
                            <div class="coin-card">
                                <span id="ab">${{availableBalance}}</span>
                                <p>Available Balance</p>
                            </div>
                            <div class="coin-card">
                                <span id="ab">${{totalBalance}}</span>
                                <p>Total Balance</p>
                            </div>
                        </div>
                        <div class="deposit-and-withdrawal">
                            <div class="coin-card">
                                <span id="ab">${{totalDeposit}}</span>
                                <p class="">Total Deposit</p>
                                <a href="/user/deposit" class="green-black-buttons button-size-with-padding"><i
                                        class="fa fa-upload"></i> Deposit</a>
                            </div>

                            <div class="coin-card">
                                <span id="ab">${{totalWithdraw}}</span>
                                <p class="">Total withdraw</p>
                                <a href="/user/withdrawal" class="yellow-buttons button-size-with-padding">
                                    <i class="fa fa-download"></i> Withdraw
                                </a>
                            </div>
                        </div>
                        <div class="balance-speech">
                            <p>Your Available balance is the actual balance you can withdraw from while your book
                                balance is
                                your potential balance that will become available when your deposit plan is completed.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="referal font-weight">
                    <h5>Invite Your Friends</h5>
                    <p><small class="">Earn more when you refer your friends to invest with us. The reward on our
                            referral
                            program is dependent on the deposit plans.</small></p>
                    <p class="referal-link darker-color flex-wrap" id="referal-link">
                        http://simplinestle.org/ref=SantexDLyon/</p>

                </div>
                <div class="sumary-head margin-bottom">
                    <h3 class="header">Popular Market</h3>
                    <a class="yellow-buttons button-size-with-padding" href="/user/investmentPlans">
                        <i class="fa fa-upload"></i> Invest Now</a>
                </div>
            </div>

            <div class="all-transactions margin">
                <a class="green-black-buttons button-size-with-padding" href="/user/history">View Transactions History</a>
            </div>
        </div>
    </section>


    <script src="/script.js"></script>
</body>

</html>