<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/loggedInStyle.css">
</head>
<body>
    <div class="profile-fields gap">
        <h2>Error</h2>
        <p>{{errorMessage}}</p>
        <a class="submit-button" href="javascript:history.back()">Go Back</a>
    </div>
</body>
</html>