<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>HIGH CAPITAL | Home </title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Uikit/css/uikit.min.css">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <div class="bg-video">
            <video id="myVideo" autoplay muted loop class="bg-video-content">
                <source src="clientphotos/Simpli_nestle-bg-video.mp4" type="video/mp4">
            </video>
        </div>

        <!--description and trade view begin here-->
        <div class="description-and-trade_view">
            <div class="description">
                <hr>
                <div class="slide-container">
                    <div class="slider slider-1">
                        <div class="learn-more">
                            <p>
                                <a href="/web/about"><span> Learn More</span> About highcapital.com</a>
                            </p>
                            <h1>We are experts in <span>financial</span> services.</h1>
                            <p> Our mission is to create wealth for our clients irrespective of market flow.</p>
                        </div>
                        <div>
                            <p>
                                <a href="/user/login" class="login">Login<i
                                        class="fa-solid fa-circle-arrow-right"></i></a>
                                <a href="/user/signUp" class="signin">Create Account<i
                                        class="fa-solid fa-circle-arrow-right"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="slider slider-2">

                        <div class="learn-more">
                            <p>
                                <a href="/web/service"><span>Learn More</span>Stock and Shares</a>
                            </p>
                            <h1>Invest in <span class="in-highlight">Stocks and Shares</span></h1>

                            <div class="in-price_card">
                                <div class="in-price">
                                    <b>GOOGLE</b>
                                    <p><span class="fas fa-spinner fa-xs"></span>loading...</p>
                                </div>

                                <div class="in-price">
                                    <b>AAPL</b>
                                    <p><span class="fas fa-spinner fa-xs"></span>loading...</p>
                                </div>

                                <div class="in-price">
                                    <b>MSFT</b>
                                    <p><span class="fas fa-spinner fa-xs"></span>loading...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider slider-3">
                        <div class="learn-more">
                            <p><a href="/web/service"><span>Learn More</span>Cryptocurrency</a></p>
                            <h1>Explore <span>Cryptocurrency</span>.</h1>

                            <div class="in-price_card">
                                <div class="crypto-details">
                                    <img src="img/in-lazy.gif" data-src="clientphotos/coins/btc.fdece395439d.png" alt="ticker"
                                        width="28" height="28" data-uk-img>
                                    <div class="uk-margin-remove">
                                        <h6 class="uk-margin-remove">BTC <span class="uk-text-small"> -0.36%</span></h6>
                                        <p class="uk-margin-remove my-danger"><i
                                                class="fa-solid fa-circle-arrow-down"></i> 30,541.99</p>
                                    </div>
                                </div>

                                <div class="crypto-details">
                                    <img src="img/in-lazy.gif" data-src="clientphotos/coins/eth.7842668af428.png" alt="ticker"
                                        width="28" height="28" data-uk-img>
                                    <div class="uk-margin-remove">
                                        <h6 class="uk-margin-remove">ETH <span class="uk-text-small"> -0.46%</span></h6>
                                        <p class="uk-margin-remove my-danger"><i
                                                class="fa-solid fa-circle-arrow-down"></i> 2,080.37</p>
                                    </div>
                                </div>

                                <div class="crypto-details">
                                    <img src="images/coins/btc.png" data-src="clientphotos/coins/xrp.9b9c7558a9ba.png"
                                        alt="ticker" width="28" height="28" data-uk-img>
                                    <div class="uk-margin-remove">
                                        <h6 class="uk-margin-remove">XRP <span class="uk-text-small"> -0.51%</span></h6>
                                        <p class="uk-margin-remove my-danger"><i
                                                class="fa-solid fa-circle-arrow-down"></i>0.43</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slider slider-4">
                        <div class="learn-more">
                            <p><a href="/web/service"><span>Learn More</span>Our Services</a></p>
                            <h1>Investors' <span>#1 Choice</span></h1>
                            <p class="our-service-p">
                                Get the most out of Forex, Cryptocurrency, Real estate and more.
                            </p>
                            <div>
                                <p>
                                    <a href="/web/service" class="signin">Our Services<i
                                            class="fa-solid fa-circle-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TradingView Widget BEGIN -->
                <div style="padding: 15px; background: rgba(1, 1, 1, 0.4); width: 100%;">
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/"
                                rel="noopener" target="_blank"><span class="blue-text">Markets</span></a> by TradingView
                        </div>
                        <script type="text/javascript"
                            src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                                {
                                    "symbols": [
                                        {
                                            "proName": "FOREXCOM:SPXUSD",
                                            "title": "S&P 500"
                                        },
                                        {
                                            "proName": "FOREXCOM:NSXUSD",
                                            "title": "US 100"
                                        },
                                        {
                                            "proName": "FX_IDC:EURUSD",
                                            "title": "EUR/USD"
                                        },
                                        {
                                            "proName": "BITSTAMP:BTCUSD",
                                            "title": "Bitcoin"
                                        },
                                        {
                                            "proName": "BITSTAMP:ETHUSD",
                                            "title": "Ethereum"
                                        },
                                        {
                                            "description": "",
                                            "proName": "BINANCE:BTCUSDT"
                                        },
                                        {
                                            "description": "",
                                            "proName": "BITSTAMP:BTCUSD"
                                        },
                                        {
                                            "description": "",
                                            "proName": "BINANCE:BTCUSDTPERP"
                                        }
                                    ],
                                        "showSymbolLogo": true,
                                            "colorTheme": "dark",
                                                "isTransparent": false,
                                                    "displayMode": "adaptive",
                                                        "locale": "en"
                                }
                            </script>
                    </div>

                </div>
                <!-- TradingView Widget END -->

            </div>

            <div class="flip-box" id="flipper">
                <div class="flip-box-inner" id="coin">
                    <div class="flip-box-front">
                        <img src="clientphotos/coins/bit-coin.png" id="coinImage" alt="Bit Coin">
                    </div>
                </div>
            </div>
        </div>

        <!--youtube iframe and details container-->
        <div class="uk-section in-equity-16">
            <div class="uk-container uk-margin-top uk-margin-large-bottom">
                <div class="uk-grid uk-flex uk-flex-center in-offset-bottom-20">
                    <div class="section-head">
                        <h1 class="uk-margin-remove">Learn more about <span
                                class="in-highlight span">highcapital.com</span></h1>
                        <p class="uk-text-lead uk-text-muted uk-margin-small-top">Your Number One Provider of Profitable
                            Investment</p>

                        <div class="uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-margin-large-top uk-margin-medium-bottom center-nav"
                            data-uk-grid>

                            <div class="center-nav-div">
                                <a href="/web/about" class="uk-card uk-card-default uk-card-body">
                                    <i class="fas fa-address-card uk-margin-small-right"></i>
                                    <h5>About Us</h5>
                                    <p class="uk-text-small uk-text-muted">Experts in financial services</p>
                                </a>
                            </div>

                            <div class="center-nav-div">
                                <a href="/web/team" class="uk-card uk-card-default uk-card-body">
                                    <i class="fas fa-users uk-margin-small-right"></i>
                                    <h5>Our Team</h5>
                                    <p class="uk-text-small uk-text-muted">People behind our success</p>
                                </a>
                            </div>

                            <div class="center-nav-div">
                                <a href="/web/service" class="uk-card uk-card-default uk-card-body">
                                    <i class="fas fa-wrench uk-margin-small-right"></i>
                                    <h5>Our Services</h5>
                                    <p class="uk-text-small uk-text-muted">Our awesome services</p>
                                </a>
                            </div>

                            <div class="center-nav-div">
                                <a href="/web/contact" class="uk-card uk-card-default uk-card-body">
                                    <i class="fas fa-comment-alt uk-margin-small-right"></i>
                                    <h5>Contact Us</h5>
                                    <p class="uk-text-small uk-text-muted">Any questions? Write us</p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
                    <!--ifram for youtube video-->
                    <div class="uk-width-3-5@m">
                        <iframe width="100%" height="480" src="https://www.youtube.com/embed/F3QpgXBtDeo"
                            title="How The Stock Exchange Works (For Dummies)" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <div class="uk-width-expand@m inframe-speech">
                        <h2>TRUST, EXPERIENCE, EXPERTISE AND KNOWLEDGE</h2>
                        <p class="uk-text-lead uk-margin-small-top">
                            We are an international financial company engaged in investment activities,
                            which are related to trading on financial markets and
                            cryptocurrency exchanges performed by qualified professional traders.
                        </p>
                        <br>
                        <a class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top iframe-learn-more"
                            href="/web/about">Learn More<i
                                class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <!--Investment that's suitable for you container-->
        <div class="uk-section in-equity-3 in-offset-top-20 bg-color">
            <div class="uk-container uk-margin-large-bottom">
                <div class="uk-grid uk-flex uk-flex-middle">
                    <div class="section-head">
                        <h1 class="uk-margin-small-bottom">Investment that's <span
                                class="in-highlight span">suitable</span> for you</h1>
                        <h3>Your financial freedom is our success</h3>
                        <ul class="uk-list in-list-check">
                            <li> <i class="fa-solid fa-circle-check"></i>We are innovative</li>
                            <li> <i class="fa-solid fa-circle-check"></i>We are timely</li>
                            <li><i class="fa-solid fa-circle-check"></i>We are reliable</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <!--investment plan begine here-->
        <div class="uk-section uk-section-primary uk-preserve-color in-equity-1" style="background-color: #f5f7f9;">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="section-head">
                        <h1 class="uk-margin-remove">CHOSE A PLAN <span class="in-highlight span">AND INVEST IN
                                TRADE</span></h1>
                    </div>
                </div>

                <div class="uk-grid-match uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-bottom"
                    data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-body uk-card-secondary uk-border-rounded">
                            <div class="uk-flex uk-flex-middle data-base">
                                <span class="in-product-name red"><i class="fas fa-database"></i></span>
                                <h4 class="uk-margin-remove">STARTER PLAN</h4>
                            </div>
                            <p class="myPlan">
                            <ul class="myUl">
                                <li>Minimum: <b>$100</b></li>
                                <li>Maximum: <b>$4,999</b></li>
                                <li>Daily Profit: <b>2%</b></li>
                                <li>Duration: <b>7 Day(s)</b></li>
                                <li>Referral Bonus <b>10%</b></li>
                                <li>Category: <b><span
                                            style="margin-left: 15px; font-weight: 400; font-size: 12px; color: #fff; padding: 2px 4px; background-color: #e54a41; border-radius: 5px;">TRADING</span></b>
                                </li>
                            </ul>
                            </p>
                            <a href="/user/signUp" class="uk-button uk-button-text uk-float-right">Get Started<i
                                    class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-body uk-card-secondary uk-border-rounded">
                            <div class="uk-flex uk-flex-middle data-base">
                                <span class="in-product-name red"><i class="fas fa-database"></i></span>
                                <h4 class="uk-margin-remove">SILVER PLAN</h4>
                            </div>
                            <p class="myPlan">
                            <ul class="myUl">
                                <li>Minimum: <b>$5,000</b></li>
                                <li>Maximum: <b>$9,999</b></li>
                                <li>Daily Profit: <b>2.5%</b></li>
                                <li>Duration: <b>7 Day(s)</b></li>
                                <li>Referral Bonus <b>10%</b></li>
                                <li>Category: <b><span
                                            style="margin-left: 15px; font-weight: 400; font-size: 12px; color: #fff; padding: 2px 4px; background-color: #e54a41; border-radius: 5px;">TRADING</span></b>
                                </li>
                            </ul>
                            </p>
                            <a href="/user/signUp" class="uk-button uk-button-text uk-float-right">Get Started<i
                                    class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-body uk-card-secondary uk-border-rounded">
                            <div class="uk-flex uk-flex-middle data-base">
                                <span class="in-product-name red"><i class="fas fa-database"></i></span>
                                <h4 class="uk-margin-remove">GOLD PLAN</h4>
                            </div>
                            <p class="myPlan">
                            <ul class="myUl">
                                <li>Minimum: <b>$10,000</b></li>
                                <li>Maximum: <b>$19,999</b></li>
                                <li>Daily Profit: <b>3%</b></li>
                                <li>Duration: <b>7 Day(s)</b></li>
                                <li>Referral Bonus <b>10%</b></li>
                                <li>Category: <b><span
                                            style="margin-left: 15px; font-weight: 400; font-size: 12px; color: #fff; padding: 2px 4px; background-color: #e54a41; border-radius: 5px;">TRADING</span></b>
                                </li>
                            </ul>
                            </p>
                            <a href="/user/signUp" class="uk-button uk-button-text uk-float-right">Get Started<i
                                    class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-body uk-card-secondary uk-border-rounded">
                            <div class="uk-flex uk-flex-middle data-base">
                                <span class="in-product-name red"><i class="fas fa-database"></i></span>
                                <h4 class="uk-margin-remove">DIAMOND PLAN</h4>
                            </div>
                            <p class="myPlan">
                            <ul class="myUl">
                                <li>Minimum: <b>$20,000</b></li>
                                <li>Maximum: <b>Unlimited</b></li>
                                <li>Daily Profit: <b>3.5%</b></li>
                                <li>Duration: <b>7 Day(s)</b></li>
                                <li>Referral Bonus <b>10%</b></li>
                                <li>Category: <b><span
                                            style="margin-left: 15px; font-weight: 400; font-size: 12px; color: #fff; padding: 2px 4px; background-color: #e54a41; border-radius: 5px;">TRADING</span></b>
                                </li>
                            </ul>
                            </p>
                            <a href="/user/signUp" class="uk-button uk-button-text uk-float-right">Get Started<i
                                    class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div>

                    <div>
                        <div class="uk-card uk-card-body uk-card-secondary uk-border-rounded">
                            <img src="clientphotos/img_yunllr.jpg" alt="" /><br>
                            <h3>High Capital offers Card to investors on the Gold plan</h3>
                            <p>
                                The partnership aims to fill a gap in the traditional financial system that has left
                                many without access to essential
                                banking products. According to a 2017 survey by the FDIC, 25 percent of U.S. households
                                are unbanked or underbanked,
                                while global numbers have reached a staggering 1.7 billion, according to data released
                                by the World Bank. Through BlockCard,
                                High Capital investors can have a virtual card issued to them while a physical card is
                                mailed to them. The card has a
                                minimum of $1000 balance needed. It can be used at over 45 million merchants and ATMs –
                                anywhere in the world where major credit cards are accepted.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--container for 'Invest on most popular Market' down to 'Choose an investment product that is suitable for you
        ' and its widget-->
        <div class="uk-section uk-section-secondary in-equity-8">
            <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="section-head">
                        <h1>Invest on <span class="in-highlight span">most popular</span> Market</h1>
                        <p class="uk-text-lead uk-margin-medium-bottom">Invest on our extensive range of CFDs on FX,
                            Commodities, Cryptocurrencies, Shares, ETFs and more. Low costs, fast execution and 24/7
                            support.</p>
                        <div class="counter-container" style="background-color: #181818;">
                            <div class="counter">
                                <div class="counter-wrap">
                                    <div class=" border-white">
                                        <h2>$91+</h2>
                                    </div>
                                    <div>
                                        <h3 class="uk-margin-small-bottom">Million</h3>
                                        <p class="uk-margin-remove uk-text-small uk-text-uppercase">Transactions</p>
                                    </div>
                                </div>

                                <div class="counter-wrap">
                                    <div class=" border-white">
                                        <h2>49.6+</h2>
                                    </div>
                                    <div>
                                        <h3 class="uk-margin-small-bottom">Thousand</h3>
                                        <p class="uk-margin-remove uk-text-small uk-text-uppercase">Active accounts
                                            /Investors</p>
                                    </div>
                                </div>

                                <div class="counter-wrap">
                                    <div class=" border-white">
                                        <h2>1.2+</h2>
                                    </div>
                                    <div>
                                        <h3 class="uk-margin-small-bottom">Thousand</h3>
                                        <p class="uk-margin-remove uk-text-small uk-text-uppercase">Running Days</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--container for Trade with confidence-->
                <div class="uk-section in-equity-7 uk-background-contain uk-background-top-left" data-src=""
                    data-uk-img="">
                    <div class="uk-container uk-margin-medium-top uk-margin-bottom">
                        <div class="in-symbol-container">
                            <div class="uk-width-1-2@m in-symbol-wrap">
                                <div class="uk-inline uk-dark uk-width-1-1 uk-height-1-1 in-symbol">
                                    <span class="uk-position-absolute uk-transform-center in-symbol-1 Mcdonald">
                                        <img src="/clientphotos/Logos/Mcdonald's.svg" alt="symbol-logo">
                                    </span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-2 Intel">
                                        <img src="/clientphotos/Logos/Intel.svg" alt="symbol-logo">
                                    </span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-3 Amazon">
                                        <img src="/clientphotos/Logos/Amazon.svg" alt="symbol-logo">
                                    </span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-4 yahoo">
                                        <img src="/clientphotos/Logos/yahoo.svg" alt="symbol-logo">
                                    </span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-5"></span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-6"></span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-7"></span>
                                    <span class="uk-position-absolute uk-transform-center in-symbol-8"></span>
                                </div>
                            </div>

                            <div class="uk-width-1-2@m uk-margin-bottom">
                                <a class="explore-all" href="/web/service">Explore all products<i
                                        class="fas fa-arrow-right fa-xs uk-margin-small-left"></i></a>
                                <h1 class="uk-margin-top">Trade with <span class="in-highlight span">confidence</span>
                                </h1>
                                <p class="uk-text-lead uk-margin-top">Managed portfolios are built by experts to target
                                    sustainable, long-term results and the highest returns for your risk level.</p>

                                <div class="uk-grid-medium uk-child-width-1-2@m uk-child-width-1-2@s uk-margin-medium-top uk-grid"
                                    data-uk-grid="">

                                    <div>
                                        <div class="in-symbol-card">
                                            <img class="uk-align-center" src="clientphotos/gif/stock&ETFs.gif"
                                                data-src="clientphotos/gif/stock&ETFs.gif" alt="icon-1" data-width=""
                                                data-height="" data-uk-img="">
                                            <h4 class="uk-margin-remove">Stocks &amp; ETFs</h4>
                                            <a href="/web/market"
                                                class="uk-button uk-button-text uk-margin-top uk-margin-small-bottom button-i ">Learn
                                                more<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="in-symbol-card">
                                            <img class="uk-align-center" src="clientphotos/gif/cryptocurrency.gif"
                                                data-src="clientphotos/gif/cryptocurrency.gif" alt="icon-2" data-width=""
                                                data-height="" data-uk-img="">
                                            <h4 class="uk-margin-remove">Cryptocurrencies</h4>
                                            <a href="/web/buyAndSell"
                                                class="uk-button uk-button-text uk-margin-top uk-margin-small-bottom button-i ">Learn
                                                more<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Security of Client's Funds-->
                <div class=" security-container ">
                    <h1>Security of Client's Funds</h1>
                    <p>Your funds are fully secured when you invest with highcapital.com.</p>

                    <div class="security-container-content uk-grid-large uk-margin-medium-top uk-margin-medium-bottom"
                        data-uk-grid>
                        <div>
                            <div class="security-container-content-div uk-flex uk-flex-middle">
                                <div>
                                    <img src="clientphotos/gif/digital-security.gif"
                                        data-src="clientphotos/gif/digital-security.gif" alt="icon-1" width="96" data-height
                                        data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-margin-remove">Regulated activities: FSO license No. AL-399.474.466</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="security-container-content-div uk-flex uk-flex-middle">
                                <div>
                                    <img src="clientphotos/gif/client-protection.gif"
                                        data-src="clientphotos/gif/client-protection.gif" alt="icon-2" width="96" data-height
                                        data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-margin-remove">Negative balance client protection policy</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="security-container-content-div uk-flex uk-flex-middle in-offset-top-20">
                                <div>
                                    <img src="clientphotos/gif/financial-comission-fund.gif"
                                        data-src="clientphotos/gif/financial-comission-fund.gif" alt="icon-3" width="96"
                                        data-height data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-margin-remove">Participant of The Financial Commission fund</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="security-container-content-div uk-flex uk-flex-middle in-offset-top-20">
                                <div>
                                    <img src="clientphotos/gif/trade-certified-badge.gif"
                                        data-src="clientphotos/gif/trade-certified-badge.gif" alt="icon-4" width="96"
                                        data-height data-uk-img>
                                </div>
                                <div>
                                    <p class="uk-margin-remove">Execution quality certificate of Verify My Trade</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="uk-flex uk-flex-left uk-flex-middle get-started">
                        <h5 class="uk-margin-remove">Ready to get started?</h5>
                        <a href="user/login" class="uk-button uk-button-primary uk-border-rounded button-i ">Login<i
                                class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        <a href="user/signUp" class="uk-button uk-button-secondary uk-border-rounded button-i">Create
                            Account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                    </div>
                </div>


                <!--FAQ's-->
                <div>
                    <div>
                        <div>
                            <div class="f-a-q-container">
                                <p>FAQ's</p>
                                <h2>Frequently Asked Questions</h2>
                            </div>
                            <div>
                                <div>
                                    <div class="drawer-container">
                                        <div class="f-a-q-drawer">
                                            <div class="drawer-head">
                                                <i class="fas fa-play fa-xs"></i>
                                                <p>How long does it take to process my withdrawal?</p>

                                            </div>
                                            <div class="drawer">
                                                <p>Once we receive your withdrawal request we process immediately and
                                                    send to your provided wallet address</p>
                                            </div>
                                        </div>

                                        <div class="f-a-q-drawer">
                                            <div class="drawer-head">
                                                <i class="fas fa-play fa-xs"></i>
                                                <p>how many times can i make a deposit?</p>
                                            </div>
                                            <div class="drawer">
                                                <p>You are allowed to make a deposit as much as you want on all our
                                                    investment plans.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="drawer-container">
                                        <div class="f-a-q-drawer">
                                            <div class="drawer-head">
                                                <i class="fas fa-play fa-xs"></i>
                                                <p>How do I make a withdrawal?</p>
                                            </div>
                                            <div class="drawer">
                                                <p>To make a withdrawal request click the WITHDRAW button at the top
                                                    center of your account dashboard and input the required details to
                                                    withdraw</p>
                                            </div>
                                        </div>

                                        <div class="f-a-q-drawer">
                                            <div class="drawer-head">
                                                <i class="fas fa-play fa-xs"></i>
                                                <p>How long does my deposit take before it can reflect on my Investments
                                                    account dashboard?</p>
                                            </div>
                                            <div class="drawer">
                                                <p>Your deposit will be reflected immediately once it is confirmed on
                                                    the blockchain network</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="see-more-faq">
                                        <a href="/web/FAQ">
                                            <p>
                                                See more FAQs
                                                <i class="fas fa-arrow-circle-right uk-margin-small-left"></i>
                                            </p>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Trade in three step-->
                <div class="uk-margin">
                    <div>
                        <div class="trade-container">
                            <div class="trade-container-content">
                                <div class="trade-container-header">
                                    <div class="uk-first-column">
                                        <h2>Begin trading in three steps</h2>
                                    </div>
                                    <div class="uk-flex uk-flex-right uk-flex-middle button-app">
                                        <a href="user/signUp"
                                            class="uk-button uk-button-secondary uk-border-rounded uk-margin-left">Open
                                            account</a>
                                    </div>
                                </div>
                                <div class="trade-container-details-and-img">
                                    <div class="trade-container-details">
                                        <a href="user/signUp" class="trade-container-content-card">
                                            <div>
                                                <span class="in-icon-wrap circle">1</span>
                                            </div>
                                            <div>
                                                <h5 class="uk-margin-remove">Register</h5>
                                                <p class="uk-margin-small-top">Create an account in few minutes, you are
                                                    ready to go.</p>
                                            </div>
                                        </a>
                                        <a href="user/login" class="trade-container-content-card">
                                            <div>
                                                <span class="in-icon-wrap circle">2</span>
                                            </div>
                                            <div>
                                                <h5 class="uk-margin-remove">Deposit</h5>
                                                <p class="uk-margin-small-top">Choose a deposit plan and payment method
                                                    that is convenient for you, sit back and watch.</p>
                                            </div>
                                        </a>
                                        <a href="user/login" class="trade-container-content-card">
                                            <div>
                                                <span class="in-icon-wrap circle">3</span>
                                            </div>
                                            <div>
                                                <h5 class="uk-margin-remove">Withdraw</h5>
                                                <p class="uk-margin-small-top">As soon as your deposit plan duration is
                                                    completed, you can withdraw directly to your wallet.</p>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="user/signUp">
                                        <div class="trade-container-img">
                                            <img src="clientphotos/gif/register-now.gif"
                                                data-src="clientphotos/gif/register-now.gif" alt="mockup" data-uk-img="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--About us shot with learnMore button-->
                <div class="about-us-contianer">
                    <p>We are an international financial company engaged in investment activities, which are related to
                        trading on financial markets and cryptocurrency exchanges performed by qualified professional
                        traders.
                    </p>
                    <a class=" uk-button-secondary uk-padding-small uk-text-decoration-none uk-border-rounded"
                        href="/web/service">Learn More</a>
                </div>

                <!---this is Do You Have Any Questions? container-->
                <div class="uk-section">
                    <div class="uk-container">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <div
                                    class="uk-card uk-card-secondary uk-box-shadow-small uk-border-rounded uk-background-cover any-question-container">
                                    <div class="any-question">
                                        <h2 class="uk-margin-remove-bottom">Do You Have Any Questions?</h2>
                                        <p class="uk-margin-small-top">We are delighted to help you in getting the best
                                            out of our services.</p>
                                        <a class="uk-button uk-button-primary uk-border-rounded" href="/web/FAQ">Ask
                                            us a question</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---this is Trade the world’s most popular markets container-->
                <div>
                    <div class="uk-width-1-1 uk-first-column">
                        <h1 class="uk-margin-small-bottom">Trade the world’s most <span class="in-highlight">popular
                                markets</span></h1>
                        <p class="uk-text-lead uk-margin-remove-top">Find your next trade with access to a wide range of
                            markets.</p>
                    </div>
                    <div class="most-popular-market-card-container">
                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/forex.svg" data-src="clientphotos/Logos/forex.svg" alt="icon-1"
                                            width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Forex</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade 40+ major, minor, and exotic
                                            currency pairs</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/indices.svg" data-src="clientphotos/Logos/indices.svg"
                                            alt="icon-2" width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Indices</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade 15 of the most famous global
                                            indices as CFDs</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/stock.svg" data-src="clientphotos/Logos/stock.svg" alt="icon-3"
                                            width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Stocks</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade the most covered &amp;
                                            highest-profile asset classes</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/metal.svg" data-src="clientphotos/Logos/metal.svg" alt="icon-4"
                                            width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Metals</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade metals including Gold and Silver
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/cryptos.svg" data-src="clientphotos/Logos/cryptos.svg"
                                            alt="icon-5" width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Cryptos</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade Bitcoin, Ethereum, Ripple and
                                            others.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="most-popular-market-card">
                            <div
                                class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                                <div class="uk-flex uk-flex-middle">
                                    <div class="uk-margin-right">
                                        <img src="/clientphotos/Logos/energies.svg" data-src="clientphotos/Logos/energies.svg"
                                            alt="icon-6" width="128" data-height="" data-uk-img="">
                                    </div>
                                    <div>
                                        <h5 class="uk-margin-small-bottom">Energies</h5>
                                        <p class="uk-text-small uk-margin-remove">Trade Brent Crude Oil, WTI, Natural
                                            Gas and Coal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---this is Choose an investment product that is suitable for you and its widget container-->
                <div class="uk-section in-equity-3 in-offset-top-20 uk-margin-top">
                    <div class="uk-container uk-margin-large-bottom">
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-expand@m uk-margin-bottom">
                                <h1 class="uk-margin-small-bottom">Choose an <span class="in-highlight">investment
                                        product</span> that is suitable for you</h1>
                                <h3 class="uk-margin-top uk-text-muted">Best market prices available so you can receive
                                    excellent conditions.</h3>
                            </div>
                            <div class="uk-width-2xlarge uk-flex uk-flex-right uk-flex-center@s">
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container ">
                                    <div class="tradingview-widget-container__widget"></div>
                                    <div class="tradingview-widget-copyright"><a
                                            href="https://www.tradingview.com/markets/currencies/economic-calendar/"
                                            rel="noopener" target="_blank"><span class="blue-text">Economic
                                                Calendar</span></a> by TradingView</div>
                                    <script type="text/javascript"
                                        src="https://s3.tradingview.com/external-embedding/embed-widget-events.js"
                                        async>
                                            {
                                                "colorTheme": "dark",
                                                    "isTransparent": false,
                                                        "width": "400",
                                                            "height": "600",
                                                                "locale": "en",
                                                                    "importanceFilter": "-1,0,1"
                                            }
                                        </script>
                                </div>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section content end -->
    </main>



    <script src="/static/app/js/jquery-3.6.0.min.8fb8fee4fcc3.js"></script>
    <script src="/static/app/js/vendors/uikit.min.954cbff6b7f9.js"></script>
    <script src="/static/app/js/vendors/utilities.min.d3a8a868309c.js"></script>
    <script src="/static/app/js/vendors/trading-widget.min.d310e968405d.js"></script>
    <script src="/static/app/js/vendors/market-plugin.min.1266086bd47f.js"></script>
    <script src="/static/app/js/vendors/particles.min.d3fffe40ae2d.js"></script>
    <script src="/static/app/js/config-particles.379b25b7ee02.js"></script>
    <script src="/static/app/js/config-theme.ff231947ee82.js"></script>


    <script>
        function triggerClick(x) {
            document.querySelector(x).click();
        }

    </script>

    <script>
        function showTime() {
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if (h === 0) {
                h = 12;
            }

            if (h > 12) {
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = h + " : " + m + " : " + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);

        }

        showTime();

        function btc_to_usd(valNum) {
            var calc = valNum * 28993.14;
            document.getElementById("val_usd").value = calc.toFixed(2);
        }

        function usd_to_btc(valNum) {
            var calc = valNum / 28993.14;
            document.getElementById("val_btc").value = calc.toFixed(8);
        }
    </script>



       <script src="/script.js"></script>
</body>

</html>