<!DOCTYPE html>
<html lang="zxx" dir="ltr">
    <style>
        .goog-logo-link {
            display: none !important;
        }
    
        .goog-te-gadget {
            color: transparent !important;
        }
    
        .goog-te-gadget .goog-te-combo {
            color: black !important;
        }
    </style>
<head>
        <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+61485972443", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            pre_filled_message: "How do I get started with your company?", // WhatsApp pre-filled message
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/66c7afbeea492f34bc092681/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>simplinestle.org |  Home </title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Uikit/css/uikit.min.css">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->

    <!--for google translator-->
    <script src="https://www.gstatic.com/translate/translate_tts.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <!-- nav and about us section style rule are here -->
    <header>


        <div class="about-us-nav-container ">
            <div class="about-us-nav-content">
                <div class="about-us-header">
                    <h1 >Legal Information</h1>
                    <p >
                        Fidelity is our watchword.
                    </p>
                </div>
                <ul >
                    <li>  
                            <i class="fas fa-exchange-alt fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >$ 91<span>Million+</span></h2>
                                <p >Total Transactions</p>
                            </div>
                    </li>
                    
                    <li>
                            <i class="fas fa-user-tie fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >49.6<span>Thousand+</span></h2>
                                <p>Active Investors</p>
                            </div>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <main class="bgc">
        <div class="lagal-information">
            <div class="lagal-infor">
                <h1>Our <span class="in-highlight">Legal Information</span></h1>
                <p>
                    simplinestle.org is one of the most reliable diversified financial investment service provider in the world. Our fundamental mission 
                    is to help customers and clients achieve their financial objectives. With offices locate in the United States, Switzerland,Canada 
                    and headquartered in Australia, simplinestle.org have staffs with over 30 years’ experience in combining financial development and 
                    trades. We are committed to pushing the boundaries of what constitutes the highest standards in trades and asset management.
                </p>
            </div>

            <div class="license">
                <p>We are an international financial company engaged in investment activities, which are related to trading on financial markets and
                     cryptocurrency exchanges performed by qualified professional traders.
                </p>
                <div class="license-btn">
                    <a href="https://res.cloudinary.com/dmlxkewu7/image/upload/v1739826536/simpli_cert_nb1cty_sclada.jpg" class="purple--button">View Certificate</a>
                    <a href="https://res.cloudinary.com/dmlxkewu7/image/upload/v1739826671/simpli_insur_rtlurk_qvagcq.jpg" class="purple--button">View Insurance/License</a>
                </div>
            </div>

            <div class="ask-question">
                <h1 class="header-white">Do You Have Any Questions?</h1>
                <p>We are delighted to help you in getting the best out of our services.</p>
                <a href="/web/contact" class="login">Ask us a question</a>
                <img src="/Photos/ask-question-house.png" alt="Image">
            </div>

            <!---this is Trade the world’s most popular markets container-->
            <div class="trade-the-world">
            <div>
                    <h1 class="uk-margin-small-bottom">Trade the world’s most <span class="in-highlight">popular markets</span></h1>
                    <p class="uk-text-lead uk-margin-remove-top">Find your next trade with access to a wide range of markets.</p>
            </div>
            <div class="most-popular-market-card-container">
                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/forex.svg" data-src="Photos/Logos/forex.svg" alt="icon-1" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Forex</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade 40+ major, minor, and exotic currency pairs</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card" >
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/indices.svg" data-src="Photos/Logos/indices.svg" alt="icon-2" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Indices</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade 15 of the most famous global indices as CFDs</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/stock.svg" data-src="Photos/Logos/stock.svg" alt="icon-3" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Stocks</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade the most covered &amp; highest-profile asset classes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/metal.svg" data-src="Photos/Logos/metal.svg" alt="icon-4" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Metals</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade metals including Gold and Silver</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/cryptos.svg" data-src="Photos/Logos/cryptos.svg" alt="icon-5" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Cryptos</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade Bitcoin, Ethereum, Ripple and others.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/Photos/Logos/energies.svg" data-src="Photos/Logos/energies.svg" alt="icon-6" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Energies</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade Brent Crude Oil, WTI, Natural Gas and Coal</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="choose-investment-for-lagal">
            <div class="choose">
                <h1>Choose an investment <span class="in-highlight">product</span> that is suitable for you</h1>
                <p>Best market prices available so you can receive excellent conditions.</p>
            </div>
            <div class="yellow-and-widget">
                <div class="yellow-absolute-bg"></div>
                <div class="yellow-absolute-widget">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                        {
                        "colorTheme": "light",
                        "dateRange": "12M",
                        "showChart": true,
                        "locale": "en",
                        "width": "100%",
                        "height": "100%",
                        "largeChartUrl": "",
                        "isTransparent": false,
                        "showSymbolLogo": true,
                        "showFloatingTooltip": false,
                        "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
                        "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                        "gridLineColor": "rgba(46, 46, 46, 0)",
                        "scaleFontColor": "rgba(15, 15, 15, 1)",
                        "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
                        "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
                        "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
                        "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
                        "tabs": [
                        {
                            "title": "Forex",
                            "symbols": [
                            {
                                "s": "FX:EURUSD",
                                "d": "EUR to USD"
                            },
                            {
                                "s": "FX:GBPUSD",
                                "d": "GBP to USD"
                            },
                            {
                                "s": "FX:USDJPY",
                                "d": "USD to JPY"
                            },
                            {
                                "s": "FX:USDCHF",
                                "d": "USD to CHF"
                            },
                            {
                                "s": "FX:AUDUSD",
                                "d": "AUD to USD"
                            },
                            {
                                "s": "FX:USDCAD",
                                "d": "USD to CAD"
                            }
                            ],
                            "originalTitle": "Forex"
                        }
                        ]
                    }
                        </script>
                    </div>
                    <!-- TradingView Widget END -->
                </div>
            </div>
        </div>

        </div>
    </main>



    <script src="/script.js"></script>


    
    <script src="/static/app/js/jquery-3.6.0.min.8fb8fee4fcc3.js"></script>
    <script src="/static/app/js/vendors/uikit.min.954cbff6b7f9.js"></script>
    <script src="/static/app/js/vendors/utilities.min.d3a8a868309c.js"></script>
    <script src="/static/app/js/vendors/trading-widget.min.d310e968405d.js"></script>
    <script src="/static/app/js/vendors/market-plugin.min.1266086bd47f.js"></script>
    <script src="/static/app/js/vendors/particles.min.d3fffe40ae2d.js"></script>
    <script src="/static/app/js/config-particles.379b25b7ee02.js"></script>
    <script src="/static/app/js/config-theme.ff231947ee82.js"></script>

    <script type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 
                'google_translate_element'
            ); 
        } 
    </script>
     <!-- Google tranlator -->
     <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  

    <!-- Flag click handler -->
    <script type="text/javascript">
        $('.translation-links a').click(function () {
            var lang = $(this).data('lang');
            var $frame = $('.goog-te-menu-frame:first');
            if (!$frame.size()) {
                alert("Error: Could not find Google translate frame.");
                return false;
            }
            $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
            return false;
        });

    </script>

    <script>
        function triggerClick(x) {
            document.querySelector(x).click();
        }

    </script>


    <script>
        //Get the button
        var mybutton = document.getElementById("goUp");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>



    <script>
        function showTime() {
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if (h === 0) {
                h = 12;
            }

            if (h > 12) {
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = h + " : " + m + " : " + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);

        }

        showTime();

        function btc_to_usd(valNum) {
            var calc = valNum * 28993.14;
            document.getElementById("val_usd").value = calc.toFixed(2);
        }

        function usd_to_btc(valNum) {
            var calc = valNum / 28993.14;
            document.getElementById("val_btc").value = calc.toFixed(8);
        }
    </script>
    
</body>

</html>