<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIGH CAPITAL | Logged Out</title>
    <link rel="stylesheet" href="/loggedInStyle.css">
</head>
<body>
    <div class="logout-container">
        <div class="transaction-content">
            <h3>You have been logged out.</h3>
    <a class="submit-button a" href="/user/login">Login again</a>
        </div>

    </div>
</body>
</html>