<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
        color: black !important;
    }
</style>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>HIGH CAPITAL | reset password </title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/message.js">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->

    <!--for google translator-->
    <script src="https://www.gstatic.com/translate/translate_tts.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div id="google_translate_element"></div>
         <a href="#">
            <h3 class="logo">High Capital</h3>
        </a>
    </nav>
    <div class="signing">
        <div class="sign-up-header">
            <div class="signing-header">
                <b>Reset Password</b>
            </div>
            <div class="have-accont">
                <span>Want new Account?</span>
                <a href="/user/signUp">Register</a>
            </div>
        </div>

        <div class="form-container">
            <h2>Enter your acount email adress</h2>
            <form class="signup-form" action="/user/passwordReset" method="POST">
                <div class="input-icon">
                    <i class="fa-solid fa-key sign-up-icon"></i>
                    <input type="email" name="passwordReset" id="passwordReset" placeholder="input your email address"
                        class="input-field" required writingsuggestions="true">
                </div>
                    <p class="error-message">{{#if error}}{{error}}{{else}}&nbsp;{{/if}}</p>
                <button type="submit" class="purple--button" id="sign-up">SEND CODE <i
                        class="fa fa-sign-in"></i></button>
            </form>

        </div>

    </div>



    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        } 
    </script>

    <script src="/script.js"></script>
    <!-- Google tranlator -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>