<!DOCTYPE html>
<html lang="en">

<head>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>simplinestle.org | User Dashboard </title>
    <meta name="theme-color" content="#181818">
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/loggedInStyle.css">
    <!-- Google Translate script -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
        <section>
            <form class="profile-fields gap" action="/user/settings/confirm" method="POST">
                <label>
                    Please enter your password to access settings:
                    <input type="password" name="password" required>
                </label>
                <button type="submit" class="btn green-black-buttons button-size-with-padding">Confirm</button>
            </form>
            {{#if error}}<p class="error">{{error}}</p>{{/if}}
        </section>


    <script src="/script.js"></script>
</body>

</html>