<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>HIGH CAPITAL | Team</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Uikit/css/uikit.min.css">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <!-- nav and about us section style rule are here -->
    <header> 

        <div class="about-us-nav-container ">
            <div class="about-us-nav-content">
                <div class="about-us-header">
                    <h1 >Legal Information</h1>
                    <p >
                        Fidelity is our watchword.
                    </p>
                </div>
                <ul >
                    <li>  
                            <i class="fas fa-exchange-alt fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >$ 91<span>Million+</span></h2>
                                <p >Total Transactions</p>
                            </div>
                    </li>
                    
                    <li>
                            <i class="fas fa-user-tie fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >49.6<span>Thousand+</span></h2>
                                <p>Active Investors</p>
                            </div>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <main class="bgc ">
        <div class="our-leaders">
            <div class="leaders-head">
                <h1>Our <span class="in-highlight">Leaders</span></h1>
                <p>
                    We are a group of passionate, independent thinkers who never stop exploring new ways to improve trading for the self-directed investor.
                </p>
            </div>
            <div class="leaders-profile">
                <div class="profile">
                    <img src="/clientphotos//ceo.jpg" alt="image">
                    <b>PETER WARRACK</b>
                    <span class="position">CEO</span>
                </div>
                <div class="profile">
                    <img src="/clientphotos//marrketer.jpg" alt="image">
                    <b>REBECCA REARDON</b>
                    <span class="position">Market</span>
                </div>
                <div class="profile">
                    <img src="/clientphotos//director.jpg" alt="">
                    <b>PHIL GREEN</b>
                    <span class="position">Director</span>
                </div>
            </div>
        </div>
            <div class="uk-section uk-section-secondary in-equity-8" id="why">
                <div class="uk-container uk-margin-small-top">
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain for-all-pink" >
                                <div class="uk-grid uk-flex uk-flex-center">
                                    <div class="uk-width-3-5@m uk-text-center">
                                        <h1 class="uk-margin-small-top">Why choose simplinestle.org</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid-divider uk-child-width-1-2@m uk-child-width-1-2@s uk-margin-medium-top uk-grid" data-uk-grid="">
                                <div class="uk-first-column">
                                    <h3 class="uk-heading-bullet">Legal Company</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">Our company conducts absolutely legal activities in the legal field.
                                                We are certified to operate investment business, we are legal and safe.
                                            </div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-home fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-visible@m">
                                    <h3 class="uk-heading-bullet">High reliability</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">We are trusted by a huge number of people. We are working hard
                                                constantly to improve the level of our security system and minimize possible risks.
                                            </div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-key fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="uk-heading-bullet">Quick Withdrawal</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">Our all retreats are treated spontaneously once requested. There are high maximum limits.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-briefcase fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
        
                                <div>
                                    <h3 class="uk-heading-bullet">Referral Program</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">We are offering 10% (percent) of referral income through our referral program.
                                                You can increase your income by simply referring people.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-users fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
        
                                <div>
                                    <h3 class="uk-heading-bullet">24/7 Support</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">We provide 24/7 customer support through e-mail, telegram, whatsapp and livechat.
                                                Our support representatives are periodically available to elucidate any difficulty.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-microphone-alt fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
        
                                <div>
                                    <h3 class="uk-heading-bullet">Dedicated Server</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">We are using a dedicated server for the website which allows us exclusive use of the resources of the entire server.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-server fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
        
                                <div>
                                    <h3 class="uk-heading-bullet">SSL Secured</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">Comodo Essential-SSL Security encryption confirms that the presented content is genuine and legitimate.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-lock fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
        
                                <div>
                                    <h3 class="uk-heading-bullet">DDOS Protection</h3>
                                    <div class="uk-grid uk-grid-small" data-uk-grid="">
                                        <div class="uk-width-expand@m uk-first-column">
                                            <div class="myP">We are using one of the most experienced, professional, and trusted DDoS Protection and mitigation provider.</div>
                                            <a href="/user/signup" class="uk-button uk-button-text">Join Us<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                        </div>
                                        <div class="uk-width-auto@m">
                                            <i class="fas fa-lock fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---this is Trade the world’s most popular markets container-->
            <div class="trade-the-world">
            <div>
                    <h1 class="uk-margin-small-bottom">Trade the world’s most <span class="in-highlight">popular markets</span></h1>
                    <p class="uk-text-lead uk-margin-remove-top">Find your next trade with access to a wide range of markets.</p>
            </div>
            <div class="most-popular-market-card-container">
                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/forex.svg" data-src="clientphotos/Logos/forex.svg" alt="icon-1" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Forex</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade 40+ major, minor, and exotic currency pairs</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card" >
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/indices.svg" data-src="clientphotos/Logos/indices.svg" alt="icon-2" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Indices</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade 15 of the most famous global indices as CFDs</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/stock.svg" data-src="clientphotos/Logos/stock.svg" alt="icon-3" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Stocks</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade the most covered &amp; highest-profile asset classes</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/metal.svg" data-src="clientphotos/Logos/metal.svg" alt="icon-4" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Metals</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade metals including Gold and Silver</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/cryptos.svg" data-src="clientphotos/Logos/cryptos.svg" alt="icon-5" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Cryptos</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade Bitcoin, Ethereum, Ripple and others.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="most-popular-market-card">
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-medium most-popular-market-card">
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <img src="/clientphotos//Logos/energies.svg" data-src="clientphotos/Logos/energies.svg" alt="icon-6" width="128" data-height="" data-uk-img="">
                                </div>
                                <div>
                                    <h4 class="uk-margin-small-bottom font-weight">Energies</h4>
                                    <p class="uk-text-small uk-margin-remove">Trade Brent Crude Oil, WTI, Natural Gas and Coal</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="contact-infor">
                <div>
                    <a href="/web/contact"><i class="fas fa-phone-alt uk-margin-small-right in-icon-wrap circle small"></i>SUPPORT TEAM</a>
                </div>
                <div>
                    <a href="#"><i class="fas fa-envelope-open-text uk-margin-small-right in-icon-wrap circle small"></i>support@highcapital.com</a>
                </div>
                <div>
                    <a href="/web/contact"><i class="fas fa-comment-dots uk-margin-small-right in-icon-wrap circle small"></i>Live Chat Support
                </div>
            </div>
        </div>
    </main>



    <script src="/script.js"></script>


    
    <script src="/static/app/js/jquery-3.6.0.min.8fb8fee4fcc3.js"></script>
    <script src="/static/app/js/vendors/uikit.min.954cbff6b7f9.js"></script>
    <script src="/static/app/js/vendors/utilities.min.d3a8a868309c.js"></script>
    <script src="/static/app/js/vendors/trading-widget.min.d310e968405d.js"></script>
    <script src="/static/app/js/vendors/market-plugin.min.1266086bd47f.js"></script>
    <script src="/static/app/js/vendors/particles.min.d3fffe40ae2d.js"></script>
    <script src="/static/app/js/config-particles.379b25b7ee02.js"></script>
    <script src="/static/app/js/config-theme.ff231947ee82.js"></script>

    <script>
        function triggerClick(x) {
            document.querySelector(x).click();
        }
    </script>

    <script>
        //Get the button
        var mybutton = document.getElementById("goUp");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>

    <script>
        function showTime() {
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if (h === 0) {
                h = 12;
            }

            if (h > 12) {
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = h + " : " + m + " : " + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);

        }

        showTime();

        function btc_to_usd(valNum) {
            var calc = valNum * 28993.14;
            document.getElementById("val_usd").value = calc.toFixed(2);
        }

        function usd_to_btc(valNum) {
            var calc = valNum / 28993.14;
            document.getElementById("val_btc").value = calc.toFixed(8);
        }
    </script>
    
</body>

</html>