<!DOCTYPE html>
<html lang="zxx" dir="ltr">
    <style>
        .goog-logo-link {
            display: none !important;
        }
    
        .goog-te-gadget {
            color: transparent !important;
        }
    
        .goog-te-gadget .goog-te-combo {
            color: black !important;
        }
    </style>
<head>
        <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+61485972443", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            pre_filled_message: "How do I get started with your company?", // WhatsApp pre-filled message
        };
        var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/66c7afbeea492f34bc092681/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#181818">
    <!-- Site Properties -->
    <title>simplinestle.org |  Home </title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/Uikit/css/uikit.min.css">
    <!-- UIkit JavaScript -->
    <script src="Uikit/js/uikit.min.js"></script>
    <script src="Uikit/js/uikit-icons.min.js"></script>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="/static/app/images/favicon.54f7c0a8907c.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/static/app/images/favicon.54f7c0a8907c.png">
    <!-- css -->

    <!--for google translator-->
    <script src="https://www.gstatic.com/translate/translate_tts.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <!-- nav and about us section style rule are here -->
    <header>  
        <div class="about-us-nav-container ">
            <div class="about-us-nav-content">
                <div class="about-us-header">
                    <h1 >Terms of Use</h1>
                    <p >
                        Please read before use
                    </p>
                </div>
                <ul >
                    <li>  
                            <i class="fas fa-exchange-alt fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >$ 91<span>Million+</span></h2>
                                <p >Total Transactions</p>
                            </div>
                    </li>
                    
                    <li>
                            <i class="fas fa-user-tie fa-lg in-icon-wrap fa-blue-purple"></i>
                            <div class="about-transaction">
                                <h2 >49.6<span>Thousand+</span></h2>
                                <p>Active Investors</p>
                            </div>
                    </li>
                </ul>

            </div>
        </div>
    </header>

    <main class="bgc">
        <div class="lagal-information">
            <div class="speach">
                <h1><span class="in-highlight">Introduction</span></h1>
                <p>
                    These rules are official and the public offer of simplinestle.org, acting in accordance with the Company, on the one hand, and the individual 
                    investor. This is equivalent to the conclusion of the Agreement in accordance with international law. These rules shall enter into force on 
                    the date of registration of the Investor on the website of the program simplinestle.org and his acceptance of the terms and conditions. If 
                    you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.
                </p>
            </div>
            <div class="Eligibility">
                <i class="fas fa-list fa-2x in-icon-wrap primary-color blue-icon"></i>
                <div class="speach">
                    <h1>Eligibility</h1>
                    <p>Any individual or company from any country may open an account on the website. You must be at least 18 years of age to 
                        use this website. You agree that all information, communications, materials coming from simplinestle.org are 
                        unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, 
                        communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments 
                        in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful 
                        to make such offer or solicitation.
                    </p>
                </div>
            </div>
            <div class="Eligibility">
                <i class="fas fa-list fa-2x in-icon-wrap primary-color blue-icon"></i>
                <div class="speach">
                    <h1>Access, Benefits and Obligation</h1>
                    <p>You must register as a Member to access certain functions of the Website. You are obliged to provide only complete and accurate information about yourself when registering as a Member or updating
                         your Registration Data. You agree to maintain and keep your Registration Data current and to update the Registration Data as soon as it changes. You are responsible for maintaining the security
                          of your password. Our Company and its service providers are not liable for any loss that you may suffer through the use of your password by others. Each Investor can register only one personal 
                          account, re-registration is not allowed. In case of multiple registrations, the Company reserves the right to disable all accounts to ascertain the circumstances. Each deposit is considered to 
                          be a private transaction between simplinestle.org and its Member. Members perform all financial transactions solely at their own discretion and their own risk. The Investor personally decides 
                          whether or not to invest and how much to invest. All accruals in the Personal Account are made according to the chosen investment package. The Investor has the right to freely dispose of the 
                          funds that are on his personal account. The Investor can make a deposit with only help of electronic payment systems used by the Company. The interest rate depends on the selected investment 
                          package while each investment package allows for investing different amounts.
                        </p>
                </div>
            </div>
            <div class="Eligibility">
                <i class="fas fa-list fa-2x in-icon-wrap primary-color blue-icon"></i>
                <div class="speach">
                    <h1>Deposit an Withdrawal</h1>
                    <p>You may choose any of the following e-currencies to make deposit: Bitcoin, Ethereum, Bitcoin Cash, Dash, Payeer, 
                        Perfect Money, Ripple and Litecoin. A deposit may only be made in US dollars. All accruals of profit are done 
                        automatically and in accordance with chosen investment plan. Depending on the amount of your deposit and the 
                        term of chosen investment period, you will receive guaranteed income after a certain period of time. Your 
                        earnings is depending from your investment plan and can be in Daily basis or at the end of investment term. 
                        If you choose Daily plans you will get your initial capital back at the end of investment term. The withdrawal 
                        time can take up to 48 hours.
                    </p>
                </div>
            </div>
            <div class="Eligibility">
                <i class="fas fa-list fa-2x in-icon-wrap primary-color blue-icon"></i>
                <div class="speach">
                    <h1>Referral/Affiliate Programme</h1>
                    <p>You may use, reproduce and share any links to any page of this Website. You should use Your individual referral link to take part 
                        in the affiliate program. The affiliate program is a way to get extra earnings for referring other people to the products and 
                        services offered through this Website. You do not have to make a deposit or have an active investment to get affiliate bonuses. 
                        Clients are not allowed to send SPAM or any kind of unsolicited commercial e-mail to promote the Company, its products and services. 
                        Our affiliate rewards program offers earning at four levels and pays 10% of the deposits made by your first-line referrals. If you 
                        do not agree with the above disclaimer, please do not go any further.
                    </p>
                </div>
            </div>
        </div>
    </main>




    <script src="/script.js"></script>


    
    <script src="/static/app/js/jquery-3.6.0.min.8fb8fee4fcc3.js"></script>
    <script src="/static/app/js/vendors/uikit.min.954cbff6b7f9.js"></script>
    <script src="/static/app/js/vendors/utilities.min.d3a8a868309c.js"></script>
    <script src="/static/app/js/vendors/trading-widget.min.d310e968405d.js"></script>
    <script src="/static/app/js/vendors/market-plugin.min.1266086bd47f.js"></script>
    <script src="/static/app/js/vendors/particles.min.d3fffe40ae2d.js"></script>
    <script src="/static/app/js/config-particles.379b25b7ee02.js"></script>
    <script src="/static/app/js/config-theme.ff231947ee82.js"></script>

    <script type="text/javascript"> 
        function googleTranslateElementInit() { 
            new google.translate.TranslateElement(
                {pageLanguage: 'en'}, 
                'google_translate_element'
            ); 
        } 
    </script>
     <!-- Google tranlator -->
     <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  

    <!-- Flag click handler -->
    <script type="text/javascript">
        $('.translation-links a').click(function () {
            var lang = $(this).data('lang');
            var $frame = $('.goog-te-menu-frame:first');
            if (!$frame.size()) {
                alert("Error: Could not find Google translate frame.");
                return false;
            }
            $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
            return false;
        });

    </script>

    <script>
        function triggerClick(x) {
            document.querySelector(x).click();
        }

    </script>


    <script>
        //Get the button
        var mybutton = document.getElementById("goUp");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>



    <script>
        function showTime() {
            var date = new Date();
            var h = date.getHours(); // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if (h === 0) {
                h = 12;
            }

            if (h > 12) {
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = h + " : " + m + " : " + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);

        }

        showTime();

        function btc_to_usd(valNum) {
            var calc = valNum * 28993.14;
            document.getElementById("val_usd").value = calc.toFixed(2);
        }

        function usd_to_btc(valNum) {
            var calc = valNum / 28993.14;
            document.getElementById("val_btc").value = calc.toFixed(8);
        }
    </script>
    
</body>

</html>